<% include header %>
<!--财务月统计表-->
<table class="form">
	<tr>
		<td>
			<input type="text" id="k_date" style="cursor:pointer" readonly class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"></input>
		</td>
		<td>
			门店：<input id="k_store" type="text" list="list3" value="所有" onblur="setCat(1);" />
			<datalist id="list3">
					<option value="所有">所有</option>
					<%for(var i in obj4){%>
						<option value="<%=obj4[i].name%>">
					<%}%>
				</datalist>
		</td>
		<td>
			类别：<input id="k_category" type="text" list="list1" value="所有" />
			<datalist id="list1">
					<option value="所有">所有</option>
					<%for(var i in obj3){%>
						<option value="<%=obj3[i].name%>">
					<%}%>
				</datalist>
		</td>
		<td>
			<input type="text" id="cate_id" placeholder="所属分类" list="mlist1" onblur="setMat();" />
			<datalist id="mlist1">
					<%for(var i in obj5){%>
						<option value="<%=obj5[i].no%>">
							<%=obj5[i].name%>
						</option>
						<%}%>
				</datalist>
		</td>
		<td>
			材料名：<input type="text" id="k_name" value="*.所有" list="mlist" />
			<datalist id="mlist">
					<option value="*.所有">
					<%for(var i in obj2){%>
						<option value="<%=obj2[i].no+"."+obj2[i].name%>">
							<%}%>
				</datalist>
			<input type="text" id="s_name" placeholder="材料名检索" onblur="filtermlist()" />
		</td>
		<td>
			<button class="btn btn-xs" onclick="filter()">筛选</button>
			<button class="btn btn-xs" onclick="window.location.reload();">查看全部</button>
		</td>
	</tr>
</table>
<h2>
		当月总入库消费金额：<span id="totalout"></span>元，总差价<span id="totaldif"></span>元 
		<button class="btn btn-xs" onclick="toExcelin()">导出入库Excel</button>
	</h2>
<div class="div_auto_stock">
	<table class="table table-hover table-bordered">
		<tr>
			<th>日期</th>
			<th>门店</th>
			<th>材料名称</th>
			<th>类别</th>
			<th>数量</th>
			<th>单位</th>
			<th>总价</th>
			<th>单价</th>
			<th>差价</th>
			<th>材料类别</th>
		</tr>
		<tbody id="content">
		</tbody>
	</table>
</div>
<h2>
		当月总出库消耗的材料费用：<span id="totaluse"></span>元
		<button class="btn btn-xs" onclick="toExcelout()">导出出库Excel</button>
	</h2>
<div class="div_auto_stock">
	<table class="table table-hover table-bordered">
		<tr>
			<th>日期</th>
			<th>门店</th>
			<th>材料名称</th>
			<th>类别</th>
			<th>数量</th>
			<th>单价</th>
			<th>总价</th>
			<th>材料类别</th>
		</tr>
		<tbody id="contentuse">
		</tbody>
	</table>
</div>
<script>
	var myDate = new Date();
	var y = myDate.getFullYear();
	var m = (((myDate.getMonth() + 1) + "").length == 1) ? "0" + (myDate.getMonth() + 1) : (myDate.getMonth() + 1);
	var d = (((myDate.getDate()) + "").length == 1) ? "0" + (myDate.getDate()) : (myDate.getDate());
	var _date = y + "-" + m;
	$('.Wdate').val(_date);
	/*获取入库列表*/
	function getDate() {
		var tmp = $("#k_name").val();
		var s = tmp.split('.');
		$.ajax({
			type: "POST",
			url: "/erp/getPutInbyMonth",
			data: {
				k_store: $("#k_store").val(),
				k_category: $("#k_category").val(),
				k_date: $("#k_date").val(),
				k_name: s[1]
			},
			success: function(data) {
				var html = "";
				var totalout = 0;
				var totaldif = 0;
				for(var i in data) {
					html += "<tr>";
					html += "<td>" + data[i].date + "</td>";
					html += "<td>" + data[i].store + "</td>";
					html += "<td>" + data[i].name + "</td>";
					html += "<td>" + data[i].category + "</td>";
					html += "<td>" + data[i].num + "</td>";
					html += "<td>" + data[i].unit + "</td>";
					html += "<td>" + data[i].total + "元</td>";
					html += "<td>" + data[i].unitPrice + "元</td>";
					html += "<td>" + data[i].difference + "元</td>";
					html += "<td>" + data[i].cname + "</td>";
					html += "</tr>";
					totalout += data[i].total;
					totaldif += data[i].difference;
				}
				totalout = Math.round(totalout * 100) / 100;
				totaldif = Math.round(totaldif * 100) / 100;
				$("#content").html(html);
				//计算当月总支出和总差价
				$('#totalout').html(totalout);
				$('#totaldif').html(totaldif);
			}
		});
	}
	/*获取出库列表*/
	function getDateUse() {
		var tmp = $("#k_name").val();
		var s = tmp.split('.');
		$.ajax({
			type: "POST",
			url: "/erp/getPutoutbyMonth",
			data: {
				k_store: $("#k_store").val(),
				k_category: $("#k_category").val(),
				k_date: $("#k_date").val(),
				k_name: s[1]
			},
			success: function(data) {
				var html = "";
				var totaluse = 0;
				for(var i in data) {
					html += "<tr>";
					html += "<td>" + data[i].date + "</td>";
					html += "<td>" + data[i].store + "</td>";
					html += "<td>" + data[i].name + "</td>";
					html += "<td>" + data[i].category + "</td>";
					html += "<td>" + data[i].num + "</td>";
					html += "<td>" + data[i].unitPrice + "元</td>";
					html += "<td>" + data[i].total + "元</td>";
					html += "<td>" + data[i].cname + "</td>";
					html += "</tr>";
					totaluse += data[i].total;
				}
				$("#contentuse").html(html);
				totaluse = Math.round(totaluse * 100) / 100;
				//计算当月总消耗
				$('#totaluse').html(totaluse);
			}
		});
	}

	function filter() {
		getDate();
		getDateUse();
	}
	filter();
	/*导出入库Excel表*/
	function toExcelin() {
		var tmp = $("#k_name").val();
		var s = tmp.split('.');
		$.ajax({
			type: "POST",
			url: "/erp/toExcelputinM",
			data: {
				k_category: $("#k_category").val(),
				k_date: $("#k_date").val(),
				k_name: s[1]
			},
			success: function(data) {
				window.open("/excelop/temp/" + data);
			}
		});
	}
	/*导出出库Excel表*/
	function toExcelout() {
		var tmp = $("#k_name").val();
		var s = tmp.split('.');
		$.ajax({
			type: "POST",
			url: "/erp/toExcelputoutM",
			data: {
				k_category: $("#k_category").val(),
				k_date: $("#k_date").val(),
				k_name: s[1]
			},
			success: function(data) {
				window.open("/excelop/temp/" + data);
			}
		});
	}

	/*根据名店加载分类*/
	function setCat(i) {
		if(i == 1) {
			var h = '';
			<%for(var i in obj3){%>
			if('<%=obj3[i].sname%>' == $('#k_store').val()) {
				h += '<option value="<%=obj3[i].name%>"><%=obj3[i].name%></option>';
			}
			<%}%>
			$('#list1').html(h);
		}
	}
	
	function filtermlist(){
		var v = $('#s_name').val();
		var html = '';
		<%for(var i in obj2){%>
		var n = '<%=obj2[i].name%>';
		if(n.indexOf(v) != -1){
			html += '<option value="<%=obj2[i].no+"."+obj2[i].name%>">';
		}			
		<%}%>
		$('#mlist').html(html);
	}
	
	function setMat(){
		var v = $('#cate_id').val();
		var html = '';
		<%for(var i in obj2){%>
		var n = '<%=obj2[i].no%>';
		if(n == v){
			html += '<option value="<%=obj2[i].no+"."+obj2[i].name%>">';
		}			
		<%}%>
		$('#mlist').html(html);
	}
</script>
<% include footer %>