<% include header %>
	<table class="form">
		<tr>
			<td>
				<input id="store" type="text" placeholder="门店" list="list2" onblur="setDate(1,this.value)" />
				<datalist id="list2">
					<%for(var i in obj2){%>
						<option value="<%=obj2[i].name%>">
							<%=obj2[i].name%>
						</option>
					<%}%>
				</datalist>
			</td>
			<td>
				<input type="text" id="name" placeholder="分类名称" />
			</td>
			<td>
				<button class="btn btn-xs" onclick="add()">新增</button>
			</td>
		</tr>
	</table>
	<div class="div_auto">
		<table class="table table-hover table-bordered">
			<tr>
				<th>门店名称</th>
				<th>分类名称</th>
				<th>操作</th>
			</tr>
			<%for(var i in obj){%>
				<tr>
					<td>
						<%=obj[i].sname%>
					</td>
					<td>
						<%=obj[i].name%>
					</td>
					<td>
						<button class="btn btn-xs" onclick="del(<%=obj[i].id%>)">删除</button>
					</td>
				</tr>
				<%}%>
		</table>
	</div>
	<script>
		function add() {
			$.ajax({
				type: "POST",
				url: "/erp/insertC",
				data: {
					name: $("#name").val(),
					sname: $("#store").val()
				},
				success: function(data) {
					if (data == 200) {
						//alert('新增成功！');
						window.location.reload();
					}
				}
			});
		}
		
		function del(id){
			var _con = confirm("是否确认删除?");
 			if(_con){
 				$.ajax({
					type: "POST",
					url: "/erp/delC",
					data: {
						id: id
					},
					success: function(data) {
						if (data == 200) {
							//alert('删除成功！');
							window.location.reload();
						}
					}
				});	
 			}
		}
	</script>
	<% include footer %>