<% include header %>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">系统管理</strong> / <small>供应商管理</small></div>
</div>
	<table class="am-form" style="margin:5px">
		<tr>
			<td>
				<input type="text" id="name" placeholder="名称" />
			</td>
			<td>
				<input type="text" id="account" placeholder="账户名" />
			</td>
			<td>
				<input type="text" id="kaihuhang" placeholder="开户行" />
			</td>
			<td>
				<input type="text" id="number" placeholder="账号" />
			</td>
			<td>
				<input type="text" id="linkname" placeholder="联系人" />
			</td>
			<td>
				<input type="text" id="tel" placeholder="电话" />
			</td>
			<td>
				<input type="text" id="address" placeholder="地址" />
			</td>
			<td>
				<button class="am-btn am-btn-primary" onclick="add()">新增</button>
			</td>
		</tr>
	</table>
	<div class="div_auto">
		<table style="margin:5px" class="am-table am-table-bordered am-table-radius am-table-striped table-main">
			<tr>
				<th>编号</th>
				<th>名称</th>
				<th>账户名</th>
				<th>开户行</th>
				<th>账号</th>
				<th>联系人</th>
				<th>电话</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
			<%for(var i in obj){%>
				<tr>
					<td>
						<%=obj[i].id%>
					</td>
					<td>
						<%=obj[i].name%>
					</td>
					<td>
						<%=obj[i].account%>
					</td>
					<td>
						<%=obj[i].kaihuhang%>
					</td>
					<td>
						<%=obj[i].number%>
					</td>
					<td>
						<%=obj[i].linkname%>
					</td>
					<td>
						<%=obj[i].tel%>
					</td>
					<td>
						<%=obj[i].address%>
					</td>
					<td>
						<button class="am-btn am-btn-default am-btn-xs am-text-success am-hide-sm-only" onclick="edit(<%=obj[i].id%>)"><span class="am-icon-trash-o"></span>编辑</button>
						<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="del(<%=obj[i].id%>)"><span class="am-icon-trash-o"></span>删除</button>
					</td>
				</tr>
				<%}%>
		</table>
	</div>
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
	  <div class="am-modal-dialog" >
	    <div class="am-modal-hd">编辑记录
	      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
	    </div>
	    <div class="am-modal-bd">
	      <table  class="am-form" style="margin:5px;width:100%">
		<tr>
			<td>
				<input type="text" id="name1" placeholder="名称" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="account1" placeholder="账户名" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="kaihuhang1" placeholder="开户行" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="number1" placeholder="账号" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="linkname1" placeholder="联系人" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="tel1" placeholder="电话" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="address1" placeholder="地址" />
			</td>
		</tr>
	</table>
					<button type="button" class="am-btn am-btn-danger" onclick="closeDoc();">关闭
	            </button>
					<button type="button" class="am-btn am-btn-primary" onclick="submitDoc();">
	               提交
	            </button>
	    </div>
	  </div>
	</div>
	<script>
		var g_id = '';

		function closeDoc(){
			var $modal = $('#doc-modal-1');
			$modal.modal('close');
		}

		function submitDoc() {
			$.ajax({
				type: "POST",
				url: "/erp/UptateGYS",
				data: {
					id: g_id,
					name: $("#name1").val(),
					account: $("#account1").val(),
					kaihuhang: $("#kaihuhang1").val(),
					number: $("#number1").val(),
					linkname: $("#linkname1").val(),
					tel: $("#tel1").val(),
					address: $("#address1").val()
				},
				success: function(data) {
					if(data == 200) {
						alert("更新成功");
						window.location.reload();
					}
				}
			});
		}

		function edit(id){
			g_id = id;
			$.ajax({
				type: "POST",
				url: "/erp/getGYSById",
				data: {
					id:id
				},
				success: function(data) {
					if (data) {
						var $modal = $('#doc-modal-1');
						$modal.modal('toggle');
						$('#name1').val(data[0].name);
						$('#account1').val(data[0].account);
						$('#kaihuhang1').val(data[0].kaihuhang);
						$('#number1').val(data[0].number);
						$('#linkname1').val(data[0].linkname);
						$('#tel1').val(data[0].tel);
						$('#address1').val(data[0].address);
					}
				}
			});
			
		}

		function add() {
			
			$.ajax({
				type: "POST",
				url: "/erp/insertGYS",
				data: {
					name: $("#name").val(),
					account: $("#account").val(),
					number: $("#number").val(),
					linkname: $("#linkname").val(),
					tel: $("#tel").val(),
					address: $("#address").val(),
					kaihuhang: $("#kaihuhang").val()
				},
				success: function(data) {
					if (data == 200) {
						//alert('新增成功！');
						window.location.reload();
					}
				}
			});
		}
		
		function del(id){
			var _con = confirm("是否确认删除?");
 			if(_con){
 				$.ajax({
					type: "POST",
					url: "/erp/delGYS",
					data: {
						id: id
					},
					success: function(data) {
						if (data == 200) {
							//alert('删除成功！');
							window.location.reload();
						}
					}
				});	
 			}
		}
	</script>
	<% include footer %>