<% include header %>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">采购管理</strong> / <small>采购清单</small></div>
</div>
<div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
  <ul class="am-tabs-nav am-nav am-nav-tabs">
    <li class="am-active"><a href="javascript: void(0)">采购清单添加</a></li>
    <li><a href="javascript: void(0)">采购清单查询</a></li>
  </ul>

  <div class="am-tabs-bd">
    <div class="am-tab-panel am-active">
    	<!--采购单BEGIN-->
<div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 采购清单添加</p>
          <table class="am-table am-table-bordered am-form">
    		<tr>
    			<td>日期</td>
    			<td><input type="text"  id="date" style="cursor:pointer;height: 40px" readonly class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"></input></td>
    		</tr>
    		<tr style="display: none">
    			<td>门店</td>
    			<td><input id="store" type="text" placeholder="门店" list="list2" value="康桥" onblur="setDate(1,this.value);setCat(0);" />
			<datalist id="list2">
					<%for(var i in obj){%>
						<option value="<%=obj[i].name%>">
							<%=obj[i].name%>
						</option>
					<%}%>
				</datalist></td>
    		</tr>
    		
    		<tr>
    			<td>材料所属分类</td>
    			<td><input type="text" id="cate_id" placeholder="所属分类" list="mlist1" onblur="setMat();" />
			<datalist id="mlist1">
					<%for(var i in obj4){%>
						<option value="<%=obj4[i].no%>">
							<%=obj4[i].name%>
						</option>
						<%}%>
				</datalist></td>
    		</tr>
    		<tr>
    			<td>材料名称</td>
    			<td>
    				<input type="text" id="s_name" placeholder="材料名检索" onblur="filtermlist()" /><br/>
    				<input type="text" id="name" placeholder="材料名称" list="mlist" />
			    <datalist id="mlist">
					<%for(var i in obj2){%>
						<option value="<%=obj2[i].no+'@'+obj2[i].cname+'.'+obj2[i].name1+'-'+obj2[i].unit+'-'+obj2[i].guige+'-'+obj2[i].weight+'-'+obj2[i].pinpai+'-'+obj2[i].gname%>">
							<%}%>
				</datalist></td>
    		</tr>
    		<tr style="display: none">
    			<td>材料规格</td>
    			<td><input id="category" type="text" placeholder="材料规格"  list="list1"  />
					<datalist id="list1">
						
					</datalist>
				</td>
    		</tr>
    		<tr>
    			<td>数量</td>
    			<td><input type="text" id="num" placeholder="数量" /></td>
    		</tr>
    		<tr>
    			<td id="addorder"><button class="am-btn am-btn-primary"  onclick="add()">添加</button></td>
    			<td></td>
    		</tr>
			</table>
        </div>
      </div>
<!--采购单END-->
    </div>
  </div>

   <div class="am-tabs-bd">
    <div class="am-tab-panel">
    	<!--采购清单查询BEGIN-->
<div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 采购清单查询</p>
          <table class="am-form">
	<tr>
		<td>
			<input type="text" id="k_date" style="cursor:pointer;height: 40px" readonly class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"></input>
		</td>
		<td>
			<input type="text" id="k_name1" style="cursor:pointer;height: 40px" ></input>
		</td>
		<td style="display: none">
			<input type="text" id="k_store" list="list3" value="所有" onblur="setCat(1);" />
			<datalist id="list3">
					<%for(var i in obj){%>
						<option value="<%=obj[i].name%>">
							<%=obj[i].name%>
						</option>
					<%}%>
				</datalist>
		</td>	
		<td style="display: none">		
			<input type="text" id="k_category" list="list4" value="所有" />
			<datalist id="list4">
					<%for(var i in obj3){%>
						<option value="<%=obj3[i].name%>">
							<%=obj3[i].name%>
						</option>
					<%}%>
				</datalist>
		</td>
		<td>
			<button class="am-btn am-btn-primary" onclick="getDate()">筛选</button>
			<button class="am-btn am-btn-warning" onclick="window.location.reload();">查看全部</button>
			<button class="am-btn am-btn-success" onclick="toExcel()">导出Excel</button>
			<button class="am-btn am-btn-danger" onclick="Print()">打印</button>
		</td>
	</tr>
</table>
<div class="am-panel am-panel-default">
    <div class="am-panel-bd">材料采购总预算金额：<span id="totalout"></span>元</div>
</div>
<div class="div_auto_short">
	<table style="margin:5px;width:94%" class="am-table am-table-bordered am-table-radius am-table-striped table-main">
		<thead>
			<tr>
				<th>材料名称</th>
				<th>材料类别</th>
				<th>数量</th>
				<th>单价（元）</th>
				<th>总价（元）</th>
				<th>入库情况</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="content">
		</tbody>
	</table>
</div>
        </div>
      </div>
<!--采购清单查询END-->
    </div>
  </div>

 </div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">修改数量
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
      <table class="am-table am-table-bordered">
					<tr>
						<td>数量</td>
						<td><input type="text" id="numc" /></td>
					</tr>
				</table>
				<button type="button" class="am-btn am-btn-danger" onclick="closeDoc();">关闭
            </button>
				<button type="button" class="am-btn am-btn-primary" onclick="submitDoc();">
               提交
            </button>
    </div>
  </div>
</div>

<script>
	var g_id = 0;
	var myDate = new Date();
	var y = myDate.getFullYear();
	var m = (((myDate.getMonth() + 1) + "").length == 1) ? "0" + (myDate.getMonth() + 1) : (myDate.getMonth() + 1);
	var d = (((myDate.getDate()) + "").length == 1) ? "0" + (myDate.getDate()) : (myDate.getDate());
	var _date = y + "-" + m + "-" + d;
	$('.Wdate').val(_date);
	/*获取采购单列表*/
	function getDate() {
		$.ajax({
			type: "POST",
			url: "/erp/getOrd",
			data: {
				k_store: $("#k_store").val(),
				k_category: $("#k_category").val(),
				k_date: $("#k_date").val(),
				k_name1: $("#k_name1").val()
			},
			success: function(data) {
				var html = "";
				var totalout = 0;
				for(var i in data) {
					html += "<tr>";
					var arr1 = (data[i].name).split(".");
					html += "<td>" + arr1[1] + "</td>";
					html += "<td>" + arr1[0] + "</td>";
					html += "<td>" + data[i].num + "</td>";
					html += "<td>" + data[i].unitPrice + "</td>";
					html += "<td>" + ((data[i].unitPrice)*(data[i].num)).toFixed(2) + "</td>";
					html += "<td>" + data[i].inStock + "</td>";
					html += "<td><button style='display:inline !important' class='am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only' onclick='intoput(" + data[i].id + "," + data[i].num + ")'>修改数量</button>";
					html += " <button style='display:inline !important' class='am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only' onclick='del(" + data[i].id + ")'>删除</button></td>";
					html += "</tr>";
					totalout += (data[i].unitPrice)*(data[i].num);
				}
				$("#content").html(html);
				$('#totalout').html(totalout.toFixed(2));
			}
		});
	}
	/*新增材料*/
	function add() {
		if($('#store').val() ==''){
			alert('请选择门店');return false;
		}
	
		if($('#name').val() ==''){
			alert('请选择材料名');return false;
		}
		if($('#num').val() ==''){
			alert('请填写数量');return false;
		}
		var tmp = $("#name").val();
		var s = tmp.split('.');
		$.ajax({
			type: "POST",
			url: "/erp/insertOrd",
			data: {
				store: $("#store").val(),
				category: $("#category").val(),
				date: $("#date").val(),
				name: tmp,
				num: $("#num").val()
			},
			success: function(data) {
				if(data == 200) {
					//alert('新增成功！');
					getDate();
					$('#name').val('');
					$('#num').val('');
				}
			}
		});
	}
	/*确认入库*/
		function submitDoc() {
			var val = $('#numc').val();
			if(isNaN(val) || val == "") {
				alert('总价请填写数字！');
				return false;
			}
			//执行入库操作
			$.ajax({
				type: "POST",
				url: "/erp/changeOrderNum",
				data: {
					num: $('#numc').val(),
					id: g_id
				},
				success: function(data) {
					if(data == 200) {
						//alert('新增成功！');
						getDate();
						var $modal = $('#doc-modal-1');
						$modal.modal('close');
					}
				}
			});
		}
	/*删除*/
	function del(id) {
		var _con = confirm("是否确认删除?");
		if(_con) {
			$.ajax({
				type: "POST",
				url: "/erp/delOrd",
				data: {
					id: id
				},
				success: function(data) {
					if(data == 200) {
						//alert('删除成功！');
						getDate();
					}
				}
			});
		}
	}
	//getDate();
	/*导出采购单Excel表*/
	function toExcel() {
		$.ajax({
			type: "POST",
			url: "/erp/toExcelorderlist",
			data: {
				k_store: $("#k_store").val(),
				k_category: $("#k_category").val(),
				k_date: $("#k_date").val()
			},
			success: function(data) {
				window.open("/excelop/temp/" + data);
			}
		});
	}

	function Print() {
		$.ajax({
			type: "POST",
			url: "/erp/Printorderlist",
			data: {
				k_store: $("#k_store").val(),
				k_category: $("#k_category").val(),
				k_date: $("#k_date").val(),
				cid:window.sessionStorage.getItem("cid")
			},
			success: function(data) {
				window.open("/excelop/temp/" + data);
			}
		});
	}
	/*切换分类*/
	function setDate(i, val) {
		if(i == 0) {
			$('#k_category').val(val);
		} else if(i == 1) {
			$('#k_store').val(val);
			setCat(1);
		}
		getDate();
	}
	
	/*修改操作*/
		function intoput(id, num) {
			g_id = id;
			$("#numc").val(num);
			//$('#addModal').modal('show');
			var $modal = $('#doc-modal-1');
			$modal.modal('toggle');
		}

	function closeDoc(){
		var $modal = $('#doc-modal-1');
			$modal.modal('close');
	}

	/*根据名店加载分类*/
	function setCat(i) {
		if(i == 0) {
			var h = '';
			<%for(var i in obj3){%>
			if('<%=obj3[i].sname%>' == $('#store').val()) {
				h += '<option value="<%=obj3[i].name%>"><%=obj3[i].name%></option>';
			}
			<%}%>
			$('#list1').html(h);
		} else if(i == 1) {
			var h = '';
			<%for(var i in obj3){%>
			if('<%=obj3[i].sname%>' == $('#k_store').val()) {
				h += '<option value="<%=obj3[i].name%>"><%=obj3[i].name%></option>';
			}
			<%}%>
			$('#list4').html(h);
		}
	}
	
	function filtermlist(){
		var v = $('#s_name').val();
		var html = '';
		<%for(var i in obj2){%>
		var n = '<%=obj2[i].name1%>';
		if(n.indexOf(v) != -1){
			html += '<option value="<%=obj2[i].no+'@'+obj2[i].cname+'.'+obj2[i].name1+'-'+obj2[i].unit+'-'+obj2[i].guige+'-'+obj2[i].weight+'-'+obj2[i].pinpai+'-'+obj2[i].gname%>">';
		}			
		<%}%>
		$('#mlist').html(html);
	}
	
	function setMat(){
		var v = $('#cate_id').val();
		var html = '';
		<%for(var i in obj2){%>
		var n = '<%=obj2[i].no%>';
		if(n == v){
			html += '<option value="<%=obj2[i].no+'@'+obj2[i].cname+'.'+obj2[i].name1+'-'+obj2[i].unit+'-'+obj2[i].guige+'-'+obj2[i].weight+'-'+obj2[i].pinpai+'-'+obj2[i].gname%>">';
		}			
		<%}%>
		$('#mlist').html(html);
	}
</script>
<% include footer %>