<% include header %>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">系统管理</strong> / <small>材料</small></div>
</div>
	<table  class="am-form" style="margin:5px">
		<tr>
			<td>
				<input type="text" id="name" placeholder="名称" />
			</td>
			<td>
				<input type="text" id="unit" placeholder="单位" />
			</td>
			<td>
				<input type="text" id="cate_id" placeholder="所属分类" list="mlist" />
				<datalist id="mlist">
					<%for(var i in obj2){%>
						<option value="<%=obj2[i].id%>">
							<%=obj2[i].name%>
						</option>
						<%}%>
				</datalist>
			</td>
			<td>
				<input type="text" id="gys_id" placeholder="供应商" list="gyslist" />
				<datalist id="gyslist">
					<%for(var i in obj3){%>
						<option value="<%=obj3[i].id%>">
							<%=obj3[i].name%>
						</option>
						<%}%>
				</datalist>
			</td>
			<td>
				<input type="text" id="guige" placeholder="规格" />
			</td>
			<td>
				<input type="text" id="weight" placeholder="重量" />
			</td>
			<td>
				<input type="text" id="pinpai" placeholder="品牌" />
			</td>
			<td>
				<input type="text" id="yujing" value="10" placeholder="库存警示量" />
			</td>
			
		</tr>
	</table>
	<table  class="am-form" style="margin:5px">
		<tr>
			<td>
				<button class="am-btn am-btn-primary" onclick="add()">新增</button>
				<button class="am-btn am-btn-success" onclick="toExcelMat()">导出Excel</button>
			</td>
		</tr>
	</table>
	<div class="div_auto">
		<table style="margin:5px" class="am-table am-table-bordered am-table-radius am-table-striped table-main">
			<tr>
				<th>材料名称</th>
				<th>单位</th>
				<th>类别</th>
				<th>供应商</th>
				<th>规格</th>
				<th>重量</th>
				<th>品牌</th>
				<th>库存警示量</th>
				<th>操作</th>
			</tr>
			<%for(var i in obj){%>
				<tr>
					<td>
						<%=obj[i].name%>
					</td>
					<td>
						<%=obj[i].unit%>
					</td>
					<td>
						<%=obj[i].cname%>
					</td>
					<td>
						<%=obj[i].cgys%>
					</td>
					<td>
						<%=obj[i].guige%>
					</td>
					<td>
						<%=obj[i].weight%>
					</td>
					<td>
						<%=obj[i].pinpai%>
					</td>
					<td>
						<%=obj[i].yujing%>
					</td>
					<td>
						<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="del(<%=obj[i].id%>)"><span class="am-icon-trash-o"></span>删除</button>
					</td>
				</tr>
				<%}%>
		</table>
	</div>
	<script>
		function add() {
			
			$.ajax({
				type: "POST",
				url: "/erp/insertM",
				data: {
					name: $("#name").val(),
					cate_id: $("#cate_id").val(),
					unit: $("#unit").val(),
					gys_id: $("#gys_id").val(),
					guige: $("#guige").val(),
					weight: $("#weight").val(),
					pinpai: $("#pinpai").val(),
					yujing: $("#yujing").val()
				},
				success: function(data) {
					if (data == 200) {
						//alert('新增成功！');
						window.location.reload();
					}
				}
			});
		}
		
		function del(id){
			var _con = confirm("是否确认删除?");
 			if(_con){
 				$.ajax({
					type: "POST",
					url: "/erp/delM",
					data: {
						id: id
					},
					success: function(data) {
						if (data == 200) {
							//alert('删除成功！');
							window.location.reload();
						}
					}
				});	
 			}
		}
		
		/*导出入库Excel表*/
		function toExcelMat() {
			$.ajax({
				type: "POST",
				url: "/erp/toExcelMat",
				data: {

				},
				success: function(data) {
					window.open("/excelop/temp/" + data);
				}
			});
		}
	</script>
	<% include footer %>