<% include header %>
	<table class="form">
		<tr>
			<td>
				<input type="text" id="name" placeholder="材料名称" />
			</td>
			<td>
				<input type="text" id="unit" placeholder="单位" />
			</td>
			<td>
				<input type="text" id="cate_id" placeholder="所属分类" list="mlist" />
				<datalist id="mlist">
					<%for(var i in obj2){%>
						<option value="<%=obj2[i].id%>">
							<%=obj2[i].name%>
						</option>
						<%}%>
				</datalist>
			</td>
			<td>
				<button class="btn btn-xs" onclick="add()">新增</button>
				<button class="btn btn-xs" onclick="toExcelMat()">导出Excel</button>
			</td>
		</tr>
	</table>
	<div class="div_auto">
		<table class="table table-hover table-bordered">
			<tr>
				<th>材料名称</th>
				<th>单位</th>
				<th>类别</th>
				<th>操作</th>
			</tr>
			<%for(var i in obj){%>
				<tr>
					<td>
						<%=obj[i].name%>
					</td>
					<td>
						<%=obj[i].unit%>
					</td>
					<td>
						<%=obj[i].cname%>
					</td>
					<td>
						<button class="btn_del btn btn-xs" onclick="del(<%=obj[i].id%>)">删除</button>
					</td>
				</tr>
				<%}%>
		</table>
	</div>
	<script>
		function add() {
			if($('#name').val() ==''){
				alert('材料名称必填！');return false;
			}
			if($('#unit').val() ==''){
				alert('单位必填！');return false;
			}
			if($('#cate_id').val() ==''){
				alert('所属分类必填！');return false;
			}
			$.ajax({
				type: "POST",
				url: "/erp/insertM",
				data: {
					name: $("#name").val(),
					cate_id: $("#cate_id").val(),
					unit: $("#unit").val()
				},
				success: function(data) {
					if (data == 200) {
						//alert('新增成功！');
						window.location.reload();
					}
				}
			});
		}
		
		function del(id){
			var _con = confirm("是否确认删除?");
 			if(_con){
 				$.ajax({
					type: "POST",
					url: "/erp/delM",
					data: {
						id: id
					},
					success: function(data) {
						if (data == 200) {
							//alert('删除成功！');
							window.location.reload();
						}
					}
				});	
 			}
		}
		
		/*导出入库Excel表*/
		function toExcelMat() {
			$.ajax({
				type: "POST",
				url: "/erp/toExcelMat",
				data: {

				},
				success: function(data) {
					window.open("/excelop/temp/" + data);
				}
			});
		}
	</script>
	<% include footer %>