<% include header %>
<!--入库-->
<h1>1.未入库采购清单列表</h1>
<div class="div_auto_stock">
	<table class="table table-hover table-bordered">
		<tr>
			<th>门店</th>
			<th>分类</th>
			<th>材料名称</th>
			<th>材料类别</th>
			<th>数量</th>
			<th>单位</th>
			<th>操作</th>
		</tr>
		<tbody id="contentStock">
		</tbody>
	</table>
</div>

<h1>2.入库记录查询(可选日期段、门店和分类)</h1>
<table class="form">
	<tr>
		<td>
			<input type="text" id="k_date" style="cursor:pointer" readonly class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"></input>
			<input type="text" id="k_date_end" style="cursor:pointer" readonly class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"></input>
		</td>
		<td>
			<input type="text" id="k_store" list="list3" value="所有" onblur="setCat(1);" />
			<datalist id="list3">
					<%for(var i in obj4){%>
						<option value="<%=obj4[i].name%>">
							<%=obj4[i].name%>
						</option>
					<%}%>
				</datalist>
			<td>
				<td>
					<input type="text" id="k_category" list="list2" value="所有" />
					<datalist id="list2">
					<%for(var i in obj3){%>
						<option value="<%=obj3[i].name%>">
					<%}%>
				</datalist>
				</td>
				<td>
					<button class="btn btn-xs" onclick="getDate()">筛选</button>
					<button class="btn btn-xs" onclick="window.location.reload();">查看全部</button>
					<button class="btn btn-xs" onclick="toExcel()">导出Excel</button>
				</td>
	</tr>
</table>
<h2>材料采购总共消费金额：<span id="totalout"></span>元</h2>
<div class="div_auto_short">
	<table class="table table-hover table-bordered">
		<tr>
			<th>门店</th>
			<th>类别</th>
			<th>材料名称</th>
			<th>材料类别</th>
			<th>数量</th>
			<th>单位</th>
			<th>总价</th>
			<th>单价</th>
			<th>差价</th>
		</tr>
		<tbody id="content">
		</tbody>
	</table>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:300px">
		<div class="modal-content">
			<div class="modal-body">
				<table class="table table-bordered table_modeal">
					<tr>
						<td>总价</td>
						<td><input type="text" id="total" /></td>
					</tr>
					<tr>
						<td>数量</td>
						<td><input type="text" id="num" /></td>
					</tr>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
				<button type="button" class="btn btn-primary" onclick="submitDoc();">
               提交
            </button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
	<script>
		var g_id = 0;
		var myDate = new Date();
		var y = myDate.getFullYear();
		var m = (((myDate.getMonth() + 1) + "").length == 1) ? "0" + (myDate.getMonth() + 1) : (myDate.getMonth() + 1);
		var d = (((myDate.getDate()) + "").length == 1) ? "0" + (myDate.getDate()) : (myDate.getDate());
		var _date = y + "-" + m + "-" + d;
		$('.Wdate').val(_date);
		/*获取入库列表*/
		function getDate() {
			$.ajax({
				type: "POST",
				url: "/erp/getPutIn",
				data: {
					k_store: $("#k_store").val(),
					k_category: $("#k_category").val(),
					k_date: $("#k_date").val(),
					k_date_end: $("#k_date_end").val()
				},
				success: function(data) {
					var html = "";
					var totalout = 0;
					for(var i in data) {
						html += "<tr>";
						html += "<td>" + data[i].store + "</td>";
						html += "<td>" + data[i].category + "</td>";
						html += "<td>" + data[i].name + "</td>";
						html += "<td>" + data[i].cname + "</td>";
						html += "<td>" + data[i].num + "</td>";
						html += "<td>" + data[i].unit + "</td>";
						html += "<td>" + data[i].total + "元</td>";
						html += "<td>" + data[i].unitPrice + "元</td>";
						html += "<td>" + data[i].difference + "元</td>";
						html += "</tr>";
						totalout += data[i].total;
					}
					$("#content").html(html);
					//计算当天总支出
					$('#totalout').html(totalout.toFixed(2));
				}
			});
		}
		/*新增材料*/
		function add() {
			if($('#category').val() == "-") {
				alert('分类必选！');
				return false;
			}
			if($('#date').val() == "") {
				alert('日期必选！');
				return false;
			}
			if($('#name').val() == "-") {
				alert('材料必选！');
				return false;
			}
			if($('#total').val() == "") {
				alert('总价必填！');
				return false;
			}
			if($('#num').val() == "") {
				alert('数量必填！');
				return false;
			}
			var tmp = $("#name").val();
			var s = tmp.split('.');
			var _name = "";
			for(var i = 1; i < s.length; i++) {
				if(_name == "") {
					_name = s[i];
				} else {
					_name = _name + "." + s[i];
				}
			}
			$.ajax({
				type: "POST",
				url: "/erp/insertPutin",
				data: {
					category: $("#category").val(),
					date: $("#date").val(),
					name: _name,
					num: $("#num").val(),
					total: $("#total").val()
				},
				success: function(data) {
					if(data == 200) {
						//alert('新增成功！');
						getDate();
						$('#name').val('');
						$('#num').val('');
						$('#total').val('');
					}
				}
			});
		}
		/*删除*/
		function del(id, name, category, unitPrice, num) {
			var _con = confirm("是否确认删除?");
			if(_con) {
				$.ajax({
					type: "POST",
					url: "/erp/delPutin",
					data: {
						id: id,
						category: category,
						unitPrice: unitPrice,
						name: name,
						num: num
					},
					success: function(data) {
						if(data == 200) {
							//alert('删除成功！');
							getDate();
						} else {
							alert('库存数小于当前数量，不能删除！');
						}
					}
				});
			}
		}
		getDate();
		/*导出采购单Excel表*/
		function toExcel() {
			$.ajax({
				type: "POST",
				url: "/erp/toExcelputin",
				data: {
					k_store: $("#k_store").val(),
					k_category: $("#k_category").val(),
					k_date: $("#k_date").val(),
					k_date_end: $("#k_date_end").val()
				},
				success: function(data) {
					window.open("/excelop/temp/" + data);
				}
			});
		}

		/*获取未入库采购清单列表*/
		function getStockDate() {
			$.ajax({
				type: "POST",
				url: "/erp/getUninOrd",
				success: function(data) {
					var html = "";
					for(var i in data) {
						html += "<tr>";
						html += "<td>" + data[i].store + "</td>";
						html += "<td>" + data[i].category + "</td>";
						html += "<td>" + data[i].no + "." + data[i].name + "</td>";
						html += "<td>" + data[i].cname + "</td>";
						html += "<td>" + data[i].num + "</td>";
						html += "<td>" + data[i].unit + "</td>";
						html += "<td><button class='btn btn-xs' onclick='intoput(" + data[i].id + "," + data[i].num + ")'>入库</button>";
						html += " <button class='btn btn-xs' onclick='delput(" + data[i].id + ")'>删除</button></td>";
						html += "</tr>";
					}
					$("#contentStock").html(html);
				}
			});
		}
		function getStockDatebyKey(key) {
			$.ajax({
				type: "POST",
				url: "/erp/getUninOrd",
				success: function(data) {
					var html = "";
					for(var i in data) {
						if(data[i].store == key){
							html += "<tr>";
							html += "<td>" + data[i].store + "</td>";
							html += "<td>" + data[i].category + "</td>";
							html += "<td>" + data[i].no + "." + data[i].name + "</td>";
							html += "<td>" + data[i].cname + "</td>";
							html += "<td>" + data[i].num + "</td>";
							html += "<td>" + data[i].unit + "</td>";
							html += "<td><button class='btn btn-xs' onclick='intoput(" + data[i].id + "," + data[i].num + ")'>入库</button></td>";
							html += " <button class='btn btn-xs' onclick='delput(" + data[i].id + ")'>删除</button></td>";
							html += "</tr>";
						}	
					}
					$("#contentStock").html(html);
				}
			});
		}
		/*删除*/
		function delput(id) {
			var _con = confirm("是否确认删除?");
			if(_con) {
				$.ajax({
					type: "POST",
					url: "/erp/delOrd",
					data: {
						id: id
					},
					success: function(data) {
						if(data == 200) {
							//alert('删除成功！');
							window.location.reload();
						}
					}
				});
			}
		}
		/*入库操作*/
		function intoput(id, num) {
			g_id = id;
			$("#num").val(num);
			$('#addModal').modal('show');
		}
		/*确认入库*/
		function submitDoc() {
			var val = $('#total').val();
			if(isNaN(val) || val == "") {
				alert('总价请填写数字！');
				return false;
			}
			//执行入库操作
			$.ajax({
				type: "POST",
				url: "/erp/insertPutin",
				data: {
					num: $('#num').val(),
					total: $('#total').val(),
					id: g_id
				},
				success: function(data) {
					if(data == 200) {
						//alert('新增成功！');
						getDate();
						getStockDate();
						$('#addModal').modal('hide');
					}
				}
			});
		}

		getStockDate();

		/*根据名店加载分类*/
		function setCat(i) {
			if(i == 1) {
				var h = '';
				<%for(var i in obj3){%>
				if('<%=obj3[i].sname%>' == $('#k_store').val()) {
					h += '<option value="<%=obj3[i].name%>"><%=obj3[i].name%></option>';
				}
				<%}%>
				$('#list2').html(h);
			}
		}
	</script>
	<% include footer %>