<% include header %>
	<!--出库-->
	<h1>1.选择出库的日期、门店、分类和材料</h1>
	<table class="form">
		<tr>
			<td>
				<input type="text" id="date" style="cursor:pointer" readonly class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"></input>
			</td>
			<td>
				<input type="text" id="k_store" list="list3" value="所有" />
				<datalist id="list3">
						<%for(var i in obj5){%>
							<option value="<%=obj5[i].name%>">
								<%=obj5[i].name%>
							</option>
						<%}%>
				</datalist>
			<td>
			<td>
				<input id="category" type="text" list="list1" value="所有" />
				<datalist id="list1">
					<option value="所有">所有</option>
					<%for(var i in obj3){%>
						<option value="<%=obj3[i].name%>">
					<%}%>
				</datalist>
			</td>
			<td>
				<input type="text" id="k_name" value="*.所有" list="mlist" />
				<datalist id="mlist">
					<option value="*.所有">
					<%for(var i in obj4){%>
						<option value="<%=obj4[i].no+"."+obj4[i].name%>">
							<%}%>
				</datalist>
			</td>
			<td>
				<button class="btn btn-xs" onclick="getStockDate()">筛选</button>
			</td>
		</tr>
	</table>
	<h1>2.库存选择</h1>
	<div class="div_auto_stock">
		<table class="table table-hover table-bordered">
			<tr>
				<th>门店</th>
				<th>分类</th>
				<th>材料名称</th>
				<th>单价</th>
				<th>单位</th>
				<th>库存数</th>
				<th>操作</th>
			</tr>
			<tbody id="contentStock">
			</tbody>
		</table>
	</div>
	<h1>3.出库记录查询(可选日期段、门店和分类)</h1>
	<table class="form">
		<tr>
			<td>
				<input type="text" id="k_date" style="cursor:pointer" readonly class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"></input>
				<input type="text" id="k_date_end" style="cursor:pointer" readonly class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"></input>
			</td>
			<td>
				<input type="text" id="sk_store" list="list3a" value="所有" />
				<datalist id="list3a">
					<%for(var i in obj5){%>
						<option value="<%=obj5[i].name%>">
							<%=obj5[i].name%>
						</option>
					<%}%>
				</datalist>
			<td>
			<td>
				<input type="text" id="k_category" list="list2" value="所有" />
				<datalist id="list2">
					<option value="所有">所有</option>
					<%for(var i in obj3){%>
						<option value="<%=obj3[i].name%>">
					<%}%>
				</datalist>
			</td>
			<td>
				<button class="btn btn-xs" onclick="getDate()">筛选</button>
				<button class="btn btn-xs" onclick="window.location.reload();">查看全部</button>
				<button class="btn btn-xs" onclick="toExcel()">导出Excel</button>
			</td>
		</tr>
	</table>
	<h2>材料出库总金额：<span id="totalout"></span>元</h2>
	<div class="div_auto_stock">
		<table class="table table-hover">
			<tr>
				<th>门店</th>
				<th>材料名称</th>
				<th>材料类别</th>
				<th>类别</th>
				<th>数量</th>
				<th>单价</th>
				<th>单位</th>
				<th>总价</th>
			</tr>
			<tbody id="content">
			</tbody>
		</table>
	</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width:300px" >
      <div class="modal-content">
         <div class="modal-body">
            <table class="table table-bordered table_modeal">
                <tr>
                    <td>出库数量<br/>(库存数:<span id="stocknum"></span>)</td>
                    <td><input type="number" class="input-sm form-control" id="g_num" ></input></td>
                    
                </tr>
                <!--
                <tr>
                    <td>出库用途</td>
                    <td>
                    	<select id="g_category" >
							<%for(var i in obj3){%>
								<option value="<%=obj3[i].name%>"><%=obj3[i].name%>
							<%}%>
						</select>
                    </td>
                </tr>-->
             </table>
            
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" onclick="submitDoc();">
               提交
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
	<script>
		var myDate = new Date();
	    var y = myDate.getFullYear(); 
	    var m = (((myDate.getMonth()+1)+"").length==1)?"0"+(myDate.getMonth()+1):(myDate.getMonth()+1);
	    var d = (((myDate.getDate())+"").length==1)?"0"+(myDate.getDate()):(myDate.getDate());
	    var _date = y + "-" + m + "-" + d;
	    var g_num,g_name,g_unitPrice,g_category,g_id,g_store;
	    $('.Wdate').val(_date);
		/*获取库存列表*/
    	function getStockDate(){
    		var tmp = $("#k_name").val();
    		var s = tmp.split('.');
    		$.ajax({
				type: "POST",
				url: "/erp/getStock",
				data: {
					k_store: $("#k_store").val(),
					k_category: $("#category").val(),
					k_name: s[1]
				},
				success: function(data) {
						var html = "";
						for(var i in data){
									html += "<tr>";
									html += "<td>"+data[i].store+"</td>";
									html += "<td>"+data[i].category+"</td>";
									html += "<td>"+data[i].name+"</td>";
									html += "<td>"+data[i].unitPrice+"元</td>";
									html += "<td>"+data[i].unit+"</td>";
									html += "<td>"+data[i].num+"</td>";
									html += "<td><button class='btn btn-xs' onclick='output("+data[i].id+","+data[i].num+",\""+data[i].name+"\","+data[i].unitPrice+",\""+data[i].category+"\",\""+data[i].store+"\")'>出库</button></td>";
									html += "</tr>";
						}
						$("#contentStock").html(html);
				}
			});
    	}	
    	/*出库操作*/
    	function output(id,num,name,unitPrice,category,store){
    		$('#stocknum').html(num);
    		//$('#g_category').val(category);
    		$('#addModal').modal('show');
    		g_num = num;
    		g_name = name;
    		g_store = store;
    		g_unitPrice = unitPrice;
    		g_category = category; 
    		g_id = id;
    		/*
    		var val=prompt("请输入出库数量：");
    		if(val && !isNaN(val)){
        		if(val > num){
        			alert('库存不足！');
        		}else{
        			var val1 = prompt("请输入出库用途：");
        			if(val1){
        				//执行出库操作
	        			$.ajax({
							type: "POST",
							url: "/erp/insertPutout",
							data: {
								category: $("#category").val(),
								date: $("#date").val(),
								name: name,
								num: val,
								unitPrice: unitPrice,
								category:val1, 
								id:id
							},
							success: function(data) {
								if (data == 200) {
									//alert('新增成功！');
									getDate();
									getStockDate();
								}
							}
						});
	        		}else{
	        			alert('出库用途分类没有填写');
	        		}
        		}
    		}else{
    			alert('请填写数字！');
    		}*/
    	}
    	/*确认出库*/
    	function submitDoc(){
    		var val = $('#g_num').val();
    		if(isNaN(val) || val == ""){
    			alert('库存请填写数字！');return false;
    		}
    		if(val > g_num){
    			alert('库存不足！');return false;
    		}
    					//执行出库操作
	        			$.ajax({
							type: "POST",
							url: "/erp/insertPutout",
							data: {
								category: g_category,
								store:g_store,
								date: $("#date").val(),
								name: g_name,
								num: val,
								unitPrice: g_unitPrice,
								id:g_id
							},
							success: function(data) {
								if (data == 200) {
									//alert('新增成功！');
									getDate();
									getStockDate();
									$('#addModal').modal('hide');
								}
							}
						});
    	}
    	/*获取出库列表*/
    	function getDate(){
    		$.ajax({
				type: "POST",
				url: "/erp/getPutout",
				data: {
					k_store: $("#sk_store").val(),
					k_category: $("#k_category").val(),
					k_date: $("#k_date").val(),
					k_date_end: $("#k_date_end").val()
				},
				success: function(data) {
						var html = "";
						var totalout = 0;
						for(var i in data){
									html += "<tr>";
									html += "<td>"+data[i].store+"</td>";
									html += "<td>"+data[i].name+"</td>";
									html += "<td>"+data[i].cname+"</td>";
									html += "<td>"+data[i].category+"</td>";
									html += "<td>"+data[i].num+"</td>";
									html += "<td>"+data[i].unitPrice+"元</td>";
									html += "<td>"+data[i].unit+"</td>";
									html += "<td>"+data[i].total+"元</td>";
									html += "</tr>";
									totalout += data[i].total;
						}
						$("#content").html(html);
						//计算当天总支出
					$('#totalout').html(totalout.toFixed(2));
				}
			});
    	}
    	/*删除出库*/
    	function del(id,name,category,unitPrice,num){
			var _con = confirm("是否确认删除?");
 			if(_con){
 				$.ajax({
					type: "POST",
					url: "/erp/delPutout",
					data: {
						id: id,
						category: category,
						unitPrice: unitPrice,
						name: name,
						num: num
					},
					success: function(data) {
						if (data == 200) {
							//alert('删除成功！');
							getDate();
							getStockDate();
						}
					}
				});	
 			}
		}
    	getDate();
    	getStockDate();
    	/*导出出库Excel表*/
	    function toExcel(){
	    	$.ajax({ type:"POST" , url: "/erp/toExcelputout", data:{
	    		k_store: $("#sk_store").val(),
	    		k_category: $("#k_category").val(),
				k_date: $("#k_date").val(),
				k_date_end: $("#k_date_end").val()
	    	}, success: function(data){
	    		window.open("/excelop/temp/"+data);
	      	}});
	    }
	</script>
	<% include footer %>