<% include header %>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">库存管理</strong> / <small>库存数</small></div>
</div>
<div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 库存查询</p>
          <table class="am-form">
	<tr>
		<td>
			<input type="text" id="k_store" list="list3" value="<%=k_store%>" onblur="setCat(1);" />
			<datalist id="list3">
					<%for(var i in obj5){%>
						<option value="<%=obj5[i].name%>">
							<%=obj5[i].name%>
						</option>
					<%}%>
				</datalist>
		</td>
		<td>
			<input type="text" id="k_category" list="list2" value="<%=k_cate%>" />
			<datalist id="list2">
					<%for(var i in obj3){%>
						<option value="<%=obj3[i].name%>">
					<%}%>
				</datalist>
		</td>
		<td>
			<input type="text" id="cate_id" placeholder="所属分类" value="<%=k_no%>" list="mlist" onblur="setMat();" />
			<datalist id="mlist">
					<%for(var i in obj4){%>
						<option value="<%=obj4[i].no%>">
							<%=obj4[i].name%>
						</option>
						<%}%>
				</datalist>
		</td>
		<td>
			<input type="text" id="name" placeholder="材料名称" value="<%=k_n%>" list="mlist1" />
			<datalist id="mlist1">
					<%for(var i in obj6){%>
						<option value="<%=obj6[i].no+"."+obj6[i].name%>">
					<%}%>
				</datalist>
		</td>
		<td>
			<input type="text" id="s_name" placeholder="材料名检索" onblur="filtermlist()" />
		</td>
		<td>
			<button class="am-btn am-btn-primary" onclick="getDate()">筛选</button>
			<button class="am-btn am-btn-warning" onclick="window.location='/erp/stock?p=所有&s=所有';">查看全部</button>
			<button class="am-btn am-btn-success" onclick="toExcel()">导出Excel</button>
			<button class="am-btn am-btn-danger" onclick="Print()">打印</button>
		</td>
	</tr>
</table>

	<div class="am-panel am-panel-default">
	    <div class="am-panel-bd">库存结余金额：<span id="totalout"><%=totalout%></span>元</div>
	</div>

	<div class="div_auto">
	<table style="margin:5px;width:94%" class="am-table am-table-bordered am-table-radius am-table-striped table-main">
		<tr>
			<th>门店</th>
			<th>分类</th>
			<th>材料名称</th>
			<th>单价</th>
			<th>单位</th>
			<th>库存数</th>
			<th>操作</th>
		</tr>
		<%for(var i in obj2){%>
		<tr>
			<td>
				<%=obj2[i].store%>
			</td>
			<td>
				<%=obj2[i].category%>
			</td>
			<td>
				<%=obj2[i].no%>.
				<%=obj2[i].name%>
			</td>
			<td>
				<%=obj2[i].unitPrice%>
			</td>
			<td>
				<%=obj2[i].unit%>
			</td>
			<%if(obj2[i].num < 10){%>
			<td style="background:#FF2F2F;color:#fff" id="dd_<%=obj2[i].id%>">
				<%=obj2[i].num%>
			</td id="dd_<%=obj2[i].id%>">
			<%}else{%>
			<td>
				<%=obj2[i].num%>
			</td>
			<%}%>
			<td>
				<input type="text" name="" id="cc_<%=obj2[i].id%>">
				<button type="button" style="display:inline !important" class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only" onclick="UpdateDoc(<%=obj2[i].id%>)">修改数量</button>
			</td>
		</tr>
		<%}%>
	</table>
</div>
        </div>
      </div>
<!--
<h1>2.移库操作</h1>
<table class="form">
	<tr>
		<td>
			<input type="text" id="f_store" placeholder="原门店" list="list_f_store" />
			<datalist id="list_f_store">
					<%for(var i in obj5){%>
						<option value="<%=obj5[i].name%>">
							<%=obj5[i].name%>
						</option>
					<%}%>
			</datalist>
		</td>
		<td>
			<input type="text" id="s_material" placeholder="材料名" list="list_s_material" />
			<datalist id="list_s_material">
					<%for(var i in obj6){%>
						<option value="<%=obj6[i].no+"."+obj6[i].name%>">
					<%}%>
			</datalist>		
		</td>
		<td>
			<input type="number" id="s_unitPrice" placeholder="单价" />
		</td>
		<td>
			<input type="text" id="m_category" list="list_m_category" placeholder="材料用途分类" />
			<datalist id="list_m_category">
					<%for(var i in obj3){%>
						<option value="<%=obj3[i].name%>">
					<%}%>
			</datalist>
		</td>
		<td>
			<input type="number" id="s_sum" placeholder="数量" />
		</td>
		<td>
			<input type="text" id="t_store" placeholder="目标门店" list="list_t_store" />
			<datalist id="list_t_store">
					<%for(var i in obj5){%>
						<option value="<%=obj5[i].name%>">
							<%=obj5[i].name%>
						</option>
					<%}%>
			</datalist>
		</td>
		<td>
			<button class="btn btn-xs" onclick="moveStock()">移库</button>
		</td>
	</tr>
</table>
-->

<script>
	function moveStock(){
			$.ajax({
				type: "POST",
				url: "/erp/moveStock",
				data: {
					f_store: $("#f_store").val(),
					s_material: $("#s_material").val(),
					s_unitPrice: $("#s_unitPrice").val(),
					m_category: $("#m_category").val(),
					s_sum: $("#s_sum").val(),
					t_store: $("#t_store").val()
				},
				success: function(data) {
					if(data == 200) {
						alert("移库成功！");	
					}
				}
			});
	}
	
	function getDate() {
		window.location = "/erp/stock?p=" + $('#k_category').val() + "&q=" + $('#cate_id').val() + "&s=" + $('#k_store').val()+"&n=" + $('#name').val();
	}
	/*导出采购单Excel表*/
	function toExcel() {
		$.ajax({
			type: "POST",
			url: "/erp/toExcelstock",
			data: {
				k_store: $('#k_store').val(),
				k_category: $("#k_category").val(),
				cate_id: $("#cate_id").val(),
				k_n: $("#name").val()
			},
			success: function(data) {
				window.open("/excelop/temp/" + data);
			}
		});
	}

	function Print() {
		$.ajax({
			type: "POST",
			url: "/erp/Printstock",
			data: {
				k_store: $('#k_store').val(),
				k_category: $("#k_category").val(),
				cate_id: $("#cate_id").val(),
				k_n: $("#name").val(),
				cid:window.sessionStorage.getItem("cid")
			},
			success: function(data) {
				window.open("/excelop/temp/" + data);
			}
		});
	}

	function UpdateDoc(id){
		var num = $('#cc_'+id).val();
		var old_num = $('#dd_'+id).text();
		old_num = old_num.replace(/\s+/g,"");
		//console.log(old_num);
		var name = window.sessionStorage.getItem('cname');
    	$.confirm({
    		title: '请确认',
    		content: '是否确认修改？',
    		confirm: function(){
        		$.ajax({ type:"POST" , url: "/erp/UpdateDoc", data:{id:id,num:num,old_num:old_num,name:name}, success: function(data){
        			if(data==200){
              			window.location.reload();     
        			}
      			}});	
    		}
		});
    }

	/*根据名店加载分类*/
	function setCat(i) {
		if(i == 1) {
			var h = '';
			<%for(var i in obj3){%>
			if('<%=obj3[i].sname%>' == $('#k_store').val()) {
				h += '<option value="<%=obj3[i].name%>"><%=obj3[i].name%></option>';
			}
			<%}%>
			$('#list2').html(h);
		}
	}
	
	function filtermlist(){
		var v = $('#s_name').val();
		var html = '';
		<%for(var i in obj6){%>
		var n = '<%=obj6[i].name%>';
		if(n.indexOf(v) != -1){
			html += '<option value="<%=obj6[i].no+"."+obj6[i].name%>">';
		}			
		<%}%>
		$('#mlist1').html(html);
	}
	
	function setMat(){
		var v = $('#cate_id').val();
		var html = '';
		<%for(var i in obj6){%>
		var n = '<%=obj6[i].no%>';
		if(n == v){
			html += '<option value="<%=obj6[i].no+"."+obj6[i].name%>">';
		}			
		<%}%>
		$('#mlist1').html(html);
	}
</script>
<% include footer %>