<!--业务逻辑-->
<!--页面逻辑-->
<% include header %>
<div id="zbt" style="color:#FFFFFF;position:absolute;top:0px;left:150px;z-index:4;font-size:36px">外卖不是件凑活的事！</div>
<div id="fbt" style="color:#FFFFFF;position:absolute;top:0px;left:150px;z-index:4;font-size:22px">用安全健康的美食拯救你的胃</div>
<div id="btnn" style="text-align:center;color:#FFFFFF;position:absolute;top:0px;left:150px;z-index:4;font-size:12px;width:240px;background:#40BAD7;height:35px;padding-top:10px;cursor:pointer;" onclick="showbooking()">立即下单</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div id="plane1" class="item active">
      <img src="/img/adv4.jpg" style="width:100%" alt=""/>
    </div>
    <div id="plane2" class="item">
      <img src="/img/adv2.jpg" style="width:100%" alt=""/>    
    </div>
    <div id="plane3" class="item">
      <img src="/img/adv3.jpg" style="width:100%" alt=""/>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev" ><img class="arrow" style="margin-left:-100px;" src="/img/left.png" /></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next" ><img class="arrow" style="margin-left:100px;" src="/img/right.png" /></a>
</div>
<div style="width:100%;text-align:center;margin-top:50px">
  <div style="width:160px;color:#FFFFFF;font-size:12px;background:#40BAD7;margin:auto;height:30px;padding-top:6px;">外卖不凑活 用餐不对付</div>
  <div style="font-size:36px;margin-top:30px">精致美食之选</div>
  <div style="font-size:22px;">安全 健康 美味 新主张</div>
</div>
<div id="funplane" style="display:none;width:100%;margin-top:50px;text-align:center">
    <table id="table_menu_index" style="margin:auto;">
    <%for(var i in obj1){
      var name_right = '（周三）';
        if(i==0 || i==1){
            name_right = '（周一，四）';
        }else if(i==2 || i==3){
            name_right = '（周二，五）';
        }
        %>
    <%if(i==0 || i == 3){%>
    <tr>
    <%}%>
      <td>
      <div id="fp<%=i%>" style="background-image:url('/pic/<%=obj1[i].imgname%>');margin:10px;width: 340px;height:285px;border:1px solid #DDDDDD;" >
        <div id="divObj<%=i%>" style="width:340px;height:0px;overflow:hidden;background-image:url('/img/black.png');cursor:pointer;" onclick="showbooking()">
            <div style="font-size:24px;color:#ffffff;font-weight:bold;margin-top:80px;"><%=obj1[i].name%><%=name_right%></div>
            <!--<div style="font-size:16px;color:#ffffff;margin-top:10px;">每份25元</div>
            <div style="font-size:16px;color:#ffffff;margin-top:3px;">30份起送</div>
            <div style="font-size:12px;color:#ffffff;font-weight:bold;margin-top:5px;">企业预订电话：4000191177</div>-->
            <!--<div style="font-size:26px;color:#ffffff;margin-top:10px;">尝鲜价 ¥<%=obj1[i].aheadprice%> <span style="font-size:26px;color:#ffffff;">¥<%=obj1[i].price%><hr style="height:3px;border:none;border-top:3px solid red;width:45px;margin-top:-20px;margin-left:220px;" /></span></div>-->
        </div>
      </div>
      </td>
    <%if(i==2 || i == 5){%>
    </tr>
    <%}%>  
    <%}%>
    </table>
</div>

<div id="tab1"></div>
<div style="width:100%;text-align:center;margin-top:50px;background-color:#F2F2F2">
  <div id="title1" style="font-size:36px;padding-top:30px">中央厨房统一配送</div>
  <div id="title2" style="font-size:22px;margin-bottom:30px">保证食品安全卫生美味</div>

  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel1" data-slide-to="1"></li>
    <li data-target="#myCarousel1" data-slide-to="2"></li>
    <li data-target="#myCarousel1" data-slide-to="3"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div id="plane11" class="item active">
      <img src="/img/th1.jpg" style="width:100%" alt=""/>    
    </div>
    <div id="plane22" class="item">
      <img src="/img/th2.jpg" style="width:100%" alt=""/>    
    </div>
    <div id="plane33" class="item">
      <img src="/img/th3.jpg" style="width:100%" alt=""/>
    </div>
    <div id="plane44" class="item">
      <img src="/img/th4.jpg" style="width:100%" alt=""/>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="left carousel-control" href="#myCarousel1" data-slide="prev" ><img class="arrow" style="margin-left:-100px;" src="/img/left.png" /></a>
  <a class="right carousel-control" href="#myCarousel1" data-slide="next" ><img class="arrow" style="margin-left:100px;" src="/img/right.png" /></a>
  </div>
  <br/><br/><br/>
</div>

<div style="width:100%;height:100%;text-align:center;margin-top:60px;background-image:url('/img/mapbg.jpg')">
	<div style="font-size:36px;padding-top:30px;color:#D4D4D4">深耕上海，放眼全国</div>
  	<div style="font-size:22px;color:#D4D4D4">一键下单，极速送达</div>
    <!--
    <div style="padding-top:40px;">
    <table style="margin:auto;display:none">
      <tr>
        <td>
          <select id="address_s" class="input-sm selectpicker" style="width:185px;">
            <option value="-">选择您的送餐地址</option>
            <%for(var i in address_s){%>
              <option value="<%=address_s[i].id%>"><%=address_s[i].name%></option>
            <%}%>
          </select>
        </td>
        <td>
          <img src="/img/search.png" onclick="search_address();" style="height:29px;margin-left:5px;cursor:pointer;" />
          <div style="width:70px;color:#FFFFFF;font-size:12px;background:#40BAD7;margin-left:5px;height:30px;padding-top:6px;cursor:pointer;" onclick="search_address();">开始预订</div>
        </td>
      </tr>
    </table>
    </div>
  	<div style="font-size:16px;padding-top:10px;color:#40BAD7;display:none">查看所有配送地点</div>-->

  	<img src="/img/map.png" style="width:80%;padding-bottom:50px;margin-top:5px;" />
</div>

<div style="width:100%;text-align:center;margin-top:-15px">
  <div style="width:160px;color:#FFFFFF;font-size:12px;background:#40BAD7;margin:auto;height:30px;padding-top:6px;cursor:pointer;" onclick="window.location='reg';">免费注册使用</div>
</div>

<% include login %>

<script>

var prevTop = 0,
    currTop = 0;

/*
$(window).scroll(function() {
    currTop = $(window).scrollTop();
    var top = $("#zbt").position().top+(prevTop-currTop);
    $("#zbt").css("top",top);
    top = $("#fbt").position().top+(prevTop-currTop);
    $("#fbt").css("top",top);
    top = $("#btnn").position().top+(prevTop-currTop);
    $("#btnn").css("top",top);

    for(var i=1;i<7;i++){
      var x = ($("#fp"+i).position().left+150);
      var y = ($("#fp"+i).position().top-currTop+130);
      $("#divfont"+i).css("top",y).css("left",x);
    }
    //prevTop = currTop; //IE下有BUG，所以用以下方式
    setTimeout(function(){prevTop = currTop},0);
});
*/

var n = 1;

var open = new Array(false,false,false,false,false,false);

$(function(){ 
  currTop = $(window).scrollTop();
  var w = $(window).width();
  if(w < 1080){
      //移动端
      var o1 = $("#table_menu_index").html();
      o1 = o1.replace(/<tr>/g, "").replace("</tr>","").replace("</tr>","").replace("<tbody>","").replace("</tbody>","");
      var parm1 = o1.split("<td>");
      var o2 = "<tbody><tr><td>"+parm1[1]+"<td>"+parm1[2]+"</tr><tr><td>"+parm1[3]+"<td>"+parm1[4]+"</tr><tr><td>"+parm1[5]+"<td>"+parm1[6]+"</tr></tbody>"
      $("#table_menu_index").html(o2);
  }
  $("#funplane").css("display","inline");
  /*
  //计算文字的位置
  for(var i=1;i<7;i++){
      var x = ($("#fp"+i).position().left+150);
      var y = ($("#fp"+i).position().top-currTop+130);
      $("#divfont"+i).css("top",y).css("left",x);
  }*/

  $("#zbt").css("top",290-currTop);$("#zbt").animate({top:190-currTop});
  $("#fbt").css("top",340-currTop);$("#fbt").animate({top:240-currTop});
  $("#btnn").css("top",380-currTop);$("#btnn").animate({top:280-currTop});

  $('#myCarousel').on('slid.bs.carousel', function () {
      var n= 0;
      //console.log($("#plane1").attr("class"));
      if($("#plane1").attr("class")=="item active"){n=1;}
      if($("#plane2").attr("class")=="item active"){n=2;}
      if($("#plane3").attr("class")=="item active"){n=3;}
      if($("#plane4").attr("class")=="item active"){n=4;}
      //up 
      //计算滚动高度差
      $("#zbt").css("top",290-currTop);$("#zbt").animate({top:190-currTop}).animate({opacity:1});
      $("#fbt").css("top",340-currTop);$("#fbt").animate({top:240-currTop}).animate({opacity:1});
      $("#btnn").css("top",380-currTop);$("#btnn").animate({top:280-currTop}).animate({opacity:1});
      //$("#zbt").html("主标题"+n);
      //$("#fbt").html("副标题"+n);
      //$("#btnn").html("按钮"+n);
  });

  $('#myCarousel').on('slide.bs.carousel', function () {
      $("#zbt").animate({top:110-currTop}).animate({opacity:0.1});
      $("#fbt").animate({top:160-currTop}).animate({opacity:0.1});
      $("#btnn").animate({top:200-currTop}).animate({opacity:0.1});
  });

  $('#myCarousel1').on('slid.bs.carousel', function () {
      var n= 0;
      //console.log($("#plane1").attr("class"));
      if($("#plane11").attr("class")=="item active"){
        $("#title1").html("食品安全");
        $("#title2").html("中央厨房统一配送保证食品卫生美味");
      }
      if($("#plane22").attr("class")=="item active"){
        $("#title1").html("健康");
        $("#title2").html("食材的挑选是我们为所有客户把关的先决条件");
      }
      if($("#plane33").attr("class")=="item active"){
        $("#title1").html("美味");
        $("#title2").html("各式美味解决您味蕾的需求");
      }
      if($("#plane44").attr("class")=="item active"){
        $("#title1").html("快捷");
        $("#title2").html("快捷和个性化服务使我们物流的核心理念");
      }
  });

  $("#fp1").hover(function(){
      $("#divObj1").animate({height:285});
  },function(){
      $("#divObj1").animate({height:0});
  });

  $("#fp2").hover(function(){
      $("#divObj2").animate({height:285});
  },function(){
      $("#divObj2").animate({height:0});
  });

  $("#fp3").hover(function(){
      $("#divObj3").animate({height:285});
  },function(){
      $("#divObj3").animate({height:0});
  });

  $("#fp4").hover(function(){
      $("#divObj4").animate({height:285});
  },function(){
      $("#divObj4").animate({height:0});
  });

  $("#fp5").hover(function(){
      $("#divObj5").animate({height:285});
  },function(){
      $("#divObj5").animate({height:0});
  });

  $("#fp0").hover(function(){
      $("#divObj0").animate({height:285});
  },function(){
      $("#divObj0").animate({height:0});
  });

/*
  $('body').mousemove(function(e) { 
    var xx = e.originalEvent.x || e.originalEvent.layerX || 0; 
    var yy = e.originalEvent.y || e.originalEvent.layerY || 0; 
    for(var i=1;i<7;i++){
      var x = ($("#fp"+i).position().left);
      var y = ($("#fp"+i).position().top-currTop);
      if(xx>x && xx<x+340 && yy>y && yy<y+285){
        if(open[i] == false){
          setTimeout("slidedown('divObj"+i+"',"+i+")", 50);
          $("#divfont"+i).css("display","inline");
        }
        open[i] = true;
      }else{
        if(open[i] == true){
          setTimeout("slideup('divObj"+i+"',"+i+")", 50);
          $("#divfont"+i).css("display","none");
        }
        open[i] = false;
      }
    }
  });
*/ 
});

function search_address(){
  var key = $("#address_s").val();
  if(key == "-"){
    alert("请选择您的送餐地址！");return false;
  }
  <%if(!cuser){%>
      showlogin(2);
  <%}else{%>
      window.location = "booking?p="+key;
  <%}%>
}

function showbooking(){
    <%if(!cuser){%>
      showlogin(1);
    <%}else{%>
      toLocation('booking');
    <%}%>  
}

function slide(i){
  //t1 = setTimeout("slideup('divObj"+i+"',"+i+")", 50); //停留时间自己适当调整 
  //$("#divObj1").animate({ height: '-5px' }, "slow");
}
function slide1(i){
  // $("#divObj1").animate({height:"285px"});
  //t2 = setTimeout("slidedown('divObj"+i+"',"+i+")", 50); //停留时间自己适当调整 
}

function slideup(id,i){
  var o = $("#"+id);
  var h = o.height();
  h = h - 100;
  if(h>0){
    o.css("height",h);
    setTimeout("slideup('divObj"+i+"',"+i+")", 10);
  }else{
    o.css("height",0);
  }
}

function slidedown(id,i){
  var o = $("#"+id);
  var h = o.height();
  h = h + 100;
  if(h<287){
    o.css("height",h);
    t4 = setTimeout("slidedown('divObj"+i+"',"+i+")", 10);  
  }else{
    o.css("height","285px");
  }
}
</script>
<div class="footer">
<table class="footer_table">
	<tr>
    <%if(!cuser){%>
		  <td style="cursor:pointer;" onclick="showlogin(1)">外卖点单</td>
    <%}else{%>
      <td style="cursor:pointer;" onclick="toLocation('booking');">外卖点单</td>
    <%}%>
		<td style="cursor:pointer;" onclick="toLocation('/#tab1');">关于我们</td>
	</tr>
</table>	
<div class="footer_div" style="margin-top:40px;">百颖（上海）餐饮服务有限公司版权所有</div>
<div class="footer_div">Copyright  2015 www.4000191177.com - All Rights Reserved.</div>
<div class="footer_div">客服热线：4000191177</div>
<div class="footer_div">沪ICP备14019890号-1</div>
<div class="footer_div" style="margin-bottom:40px;font-size: 12px;">技术支持@上海荟邮网络科技有限公司</div>
</div>
</body>
</html>