<!--业务逻辑-->
<%var menu_len = 0;
var idlist;
for(var i in menu_s){
    menu_len = menu_len + 1;
    idlist = !idlist?menu_s[i].id:idlist+","+menu_s[i].id;
}
%>
<!--页面逻辑-->
<% include header %>                                                                                                                       `    
<form method="post" action="/400/createDoc">
<table class="table table-bordered" style="width:800px;margin-left:10px;margin-top:10px;">
	<tr>
        <td colspan="6" style="text-align:center;">新建400订单</td>
    </tr>
    <tr>
    	<td class="tleftname">联系电话</td>
        <td>
        	<input type="text" class="input-sm form-control" id="linktel" name="linktel" style="width:100px;" onblur="checkUser()"></input>
        </td>
        <td class="tleftname">联系人</td>
        <td><input type="text" class="input-sm form-control" id="linkname" name="linkname" ></input></td>
        <td class="tleftname">优惠信息</td>
        <td style="min-width:120px;"><span id="yh_info"></span><span id="yh_num"></span></td>
    </tr>   
    <tr>
        <td class="tleftname">送餐地址</td>
        <td>
        	<select id="address_s" class="input-sm selectpicker" onchange="setAddressInfo(this.value);">
                <option value="-">请选择</option>
                <%for(var i in address_s){%>
                	<option value="<%=address_s[i].id+","+address_s[i].name+","+address_s[i].b_starttime+","+address_s[i].b_endtime+","+address_s[i].i_starttime+","+address_s[i].i_endtime+","+address_s[i].sender+","+address_s[i].tel%>"><%=address_s[i].name%></option>
                <%}%>
            </select>
        </td>
        <td class="tleftname">详细地址</td>
        <td colspan="3"><input type="text" class="input-sm form-control" name="addressdetail" id="addressdetail" ></input></td>
    </tr> 
    <tr>
        <td class="tleftname">送达时间</td>
        <td colspan="5">
        	<div id="td_sendtime" style="display:none"></div>
                <select id="usertime" style="width:200px">
                    <option value="11:00-11:30">11:00-11:30</option>
                    <option value="11:30-12:00">11:30-12:00</option>
                    <option value="12:00-12:30">12:00-12:30</option>
                    <option value="12:30-13:00">12:30-13:00</option>
                </select>
            <div style="padding-top:10px">（次日送达，周五，周日订餐，下周一送达）</div>
        </td>
    </tr> 
    <tr>
        <td colspan="6" id="pricedetail" style="display:none;">
        	<table class="table table-bordered">
        		<tr>
        			<th>品名</th>
        			<th>售价</th>
        			<th>优惠价</th>
        			<th>当日库存</th>
        			<th>次日库存</th>
        			<th>数量</th>
        			<th>小计</th>
        			<th>优惠备注</th>
        		</tr>
        		<%for(var i in menu_s){%>
        			<tr>
        				<td id="p_<%=i%>_1"><%=menu_s[i].name%></td>
        				<td>¥<span id="p_<%=i%>_2"><%=menu_s[i].price%></span></td>
        				<td>¥<span id="p_<%=i%>_3"><%=menu_s[i].aheadprice%></span></td>
        				<td id="numkc1_<%=i%>"><%=menu_s[i].numtoday%></td>
        				<td id="numkc2_<%=i%>"><%=menu_s[i].numtomorrow%></td>
        				<td style="width:110px;">
        					<button type="button" class="btn btn-default btn-xs" onclick="computeTotal(0,<%=i%>,<%=menu_s[i].price%>,<%=menu_s[i].aheadprice%>)">-</button>
        					<input id="number<%=i%>" type="text" class="input-sm form-control" style="width:40px;" value = "0" onblur = "computeTotal1(0,<%=i%>,<%=menu_s[i].price%>,<%=menu_s[i].aheadprice%>)"></input>
        					<button type="button" class="btn btn-default btn-xs" onclick="computeTotal(1,<%=i%>,<%=menu_s[i].price%>,<%=menu_s[i].aheadprice%>)">+</button>
        				</td>
        				<td style="width:100px;">¥<span id="pricetotal<%=i%>">0</span></td>
        				<td id="p_<%=i%>_4"></td>
        			</tr>
        		<%}%>
        	</table>
        	<table class="table table-bordered">
        		<tr>
        			<td style="width:80px;">合计数量：</td>
        			<td style="width:80px;"><span id="numtotal">0</span></td>
        			<td style="width:80px;">合计金额：</td>
        			<td style="width:80px;">¥<span id="pricetotal">0</span></td>
        			<td style="width:80px;">结算金额：</td>
        			<td style="width:80px;">¥<span id="retailpricetotal">0</span></td>
        		</tr>
        	</table>
        </td>
    </tr> 
    <tr>
        <td class="tleftname">是否要发票</td>
        <td colspan="2">
        	<input type="radio" name="isInvoice" style="vertical-align:text-bottom; margin-bottom:1px; margin-bottom:-1px9;"  onclick="$('#invoicetitle').attr('type','text');$('#invoicetitle').val('个人');$('#isInvoice').val('1');" value="1"> 是</input>
        	<input type="radio" name="isInvoice" style="vertical-align:text-bottom; margin-bottom:1px; margin-bottom:-1px9;margin-left:10px;" checked onclick="$('#invoicetitle').attr('type','hidden');$('#invoicetitle').val('');$('#isInvoice').val('0');" value="0"> 否</input>
        	<input type="hidden" class="input-sm form-control" id="invoicetitle" name="invoicetitle" style="width:200px;margin-left:20px;"></input>
        </td>
        <td class="tleftname">付款方式</td>
        <td colspan="2">
        	货到付款
        </td>
    </tr>
    <tr>
        <td>备注</td>
        <td colspan="5">
            <input type="text" class="input-sm form-control" name="remark" placeholder="请输入备注内容(如:推迟一天送达)">
        </td>
    </tr>
</table>
	<button type="button" class="btn btn-primary" onclick="submitDoc();" style="margin-left:10px;">确认提交</button>
	<input type="hidden" id="linkid" />
    <input type="hidden" id="isInvoice" value="0" />
	<input type="hidden" id="isToday" name="isToday" value ="1" />
    <input type="hidden" name="sendtime1" id="sendtime1" />
    <input type="hidden" name="retailpricetotal" />
    <input type="hidden" name="addressname" />
    <input type="hidden" name="numtotal1" />
    <input type="hidden" name="linktel1" />
    <input type="hidden" name="pricetotalold" />
    <input type="hidden" name="isSysuser" id="isSysuser" />
    <input type="hidden" name="detail_1" />
    <input type="hidden" name="detail_2" />
    <input type="hidden" name="detail_3" />
    <input type="hidden" name="detail_4" />
    <input type="hidden" name="detail_5" />
    <input type="hidden" name="detail_6" />
    <input type="hidden" name="detail_7" value="<%=idlist%>" />
    <input type="hidden" name="menu_len" id="menu_len" value="<%=menu_len%>" />
    <input type="hidden" id="sender" name="sender" />
    <input type="hidden" id="tel" name="tel" />
</form>
<script type="text/javascript">
    var _page = "400";
    var a1,a2,a3,a4,a5,a6;
    var l = Number($("#menu_len").val());

	$('select').select2();

	function submitDoc(){
        if($("#linktel").val()==""){
            $.alert({title: '提示信息',content: '联系电话必填！'});return false;
        }
        if($("#linkname").val()==""){
            $.alert({title: '提示信息',content: '联系人必填！'});return false;
        }
        if($("#address_s").val()=="-"){
            $.alert({title: '提示信息',content: '送餐地址必选！'});return false;
        }
        if($("#addressdetail").val()==""){
            $.alert({title: '提示信息',content: '详细地址必填！'});return false;
        }
        if(Number($("#numtotal").html()) < 1){
            $.alert({title: '提示信息',content: '至少要选择1份才能配送！'});return false;
        }
        if($("#isInvoice").val()=="1" && $("#invoicetitle").val()==""){
            $.alert({title: '提示信息',content: '发票抬头必填！'});return false;
        }
        //设置送达时间
        var _time1 = $("#sendtime1").val();
        _time1 += " ";
        _time1 += $("#usertime").val();
        $("#sendtime1").val(_time1);
        //计算价格明细
        for(var i=0;i<l;i++){
            if(!a1){
                a1 = $("#p_"+i+"_1").html();
                a2 = $("#p_"+i+"_2").html();
                a3 = $("#p_"+i+"_3").html();
                a4 = $("#number"+i).val();
                a5 = $("#pricetotal"+i).html(); 
                a6 = $("#p_"+i+"_4").html();
            }else{
                a1 = a1 + "," + $("#p_"+i+"_1").html();
                a2 = a2 + "," + $("#p_"+i+"_2").html();
                a3 = a3 + "," + $("#p_"+i+"_3").html();
                a4 = a4 + "," + $("#number"+i).val();
                a5 = a5 + "," + $("#pricetotal"+i).html(); 
                a6 = a6 + "," + $("#p_"+i+"_4").html();
            }
        }
        $("input[name='detail_1']").val(a1);
        $("input[name='detail_2']").val(a2);
        $("input[name='detail_3']").val(a3);
        $("input[name='detail_4']").val(a4);
        $("input[name='detail_5']").val(a5);
        $("input[name='detail_6']").val(a6);
		document.forms[0].submit();
	}

	function checkUser(){
		var tel = $("#linktel").val();
		var _info = "";
		$.ajax({ type:"POST" , url: "/"+_page+"/checkUser", data:{tel:tel}, success: function(data){
            var parm = data.split("@");
			if(parm[0] == "p1"){
				_info="用户没有注册过！";
				$("#yh_info").html("首单优惠");$("#yh_num").html("5");
			}
			else if(parm[0] == "p2"){
				_info="用户已注册！没有下过订单，可以享用首单优惠";
				$("#yh_info").html("首单优惠");$("#yh_num").html("5");$("#linkname").val(parm[1]);
			}
			else if(parm[0] == "p3"){
				_info="用户已注册！已下过订单!";$("#isSysuser").val("1");$("#linkname").val(parm[1]);
				$("#yh_info").html("");$("#yh_num").html("");
			}
            $("input[name='linktel1']").val(tel);
            $.alert({title: '提示信息',content:_info});
        }});
	}

	function GetDateStr(AddDayCount) { 
		var myDate = new Date(); 
		myDate.setDate(myDate.getDate()+AddDayCount);//获取AddDayCount天后的日期 
		var y = myDate.getFullYear(); 
		var m = (((myDate.getMonth()+1)+"").length==1)?"0"+(myDate.getMonth()+1):(myDate.getMonth()+1);
		var d = (((myDate.getDate())+"").length==1)?"0"+(myDate.getDate()):(myDate.getDate());
		return y+"-"+m+"-"+d; 
	}

	function setAddressInfo(val){
		var parm = val.split(",");
		var _html = "<input type='radio' style='vertical-align:text-bottom; margin-bottom:1px; margin-bottom:-1px9;' name='sendtime' checked onclick='setToday(1,\""+GetDateStr(0)+" "+parm[4]+"-"+parm[5]+"\");'>【当日送达】"+GetDateStr(0)+" "+parm[4]+"-"+parm[5]+"</input>";
		_html += "<input type='radio' name='sendtime' style='vertical-align:text-bottom; margin-bottom:1px; margin-bottom:-1px9;margin-left:10px;' onclick='setToday(0,\""+GetDateStr(1)+" "+parm[2]+"-"+parm[3]+"\");'>【次日送达】"+GetDateStr(1)+" "+parm[2]+"-"+parm[3]+"</input>";
        setToday(0,GetDateStr(1));
        $("input[name='addressname']").val(parm[1]);
		$("#td_sendtime").html(_html);
		$("#pricedetail").removeAttr("style");
        $("#sender").val(parm[6]);
        $("#tel").val(parm[7]);
	}

	function setToday(i,j){
		$("#isToday").val(i);
        $("#sendtime1").val(j);
        if(i==1){
            for(var i=0;i<l;i++){
                $("#p_"+i+"_4").html("");    
            }
        }else{
            for(var i=0;i<l;i++){
                $("#p_"+i+"_4").html("提前预定");    
            }
        }
	}

	function computeTotal(j,i,p1,p2){
		var isToday = Number($("#isToday").val());
		var num = Number($("#number"+i).val());
		var numtotal = Number($("#numtotal").html());
		var pricetotal = Number($("#pricetotal").html());
		var p = (isToday == 1)?p1:p2;
		if(j==0){
			num = num - 1;
			if(num < 0){$("#number"+i).val(0);return false;}
			$("#numtotal").html(numtotal-1);
			$("#pricetotal").html(pricetotal-p);
		}else{
            //check max
            var umkc1 = Number($("#numkc1_"+i).html());
            var umkc2 = Number($("#numkc2_"+i).html());
            if(isToday == 1){
                if(num == umkc1){
                    alert("超过最大库存！");return false;
                }
            }else{
                if(num == umkc2){
                    alert("超过最大库存！");return false;
                }
            }
			num = num + 1;
			$("#numtotal").html(numtotal+1);
			$("#pricetotal").html(pricetotal+p);
		}
		$("#pricetotal"+i).html(num*p);
		$("#number"+i).val(num);
		if(Number($("#numtotal").html())>0){
			$("input[name='sendtime']").attr("disabled","disabled");
			$("#linktel").attr("disabled","disabled");
		}else{
			$("input[name='sendtime']").removeAttr("disabled");
			$("#linktel").removeAttr("disabled");
		}
		var _yh = ($("#yh_num").html()=="")?0:Number($("#yh_num").html());
		$("#retailpricetotal").html(Number($("#pricetotal").html())-_yh);
        $("input[name='retailpricetotal']").val(Number($("#pricetotal").html())-_yh);
        $("input[name='numtotal1']").val($("#numtotal").html());
        $("input[name='pricetotalold']").val($("#pricetotal").html());
	}

    function computeTotal1(j,i,p1,p2){
        var isToday = Number($("#isToday").val());
        var num = Number($("#number"+i).val());
        var numtotal = Number($("#numtotal").html());
        var pricetotal = Number($("#pricetotal").html());
        var p = (isToday == 1)?p1:p2;

            if(num < 0){$("#number"+i).val(0);num = 0;}

            //check max
            var umkc1 = Number($("#numkc1_"+i).html());
            var umkc2 = Number($("#numkc2_"+i).html());

            if(isToday == 1){
                if(num > umkc1){
                    alert("超过最大库存！");$("#number"+i).val(0);num = 0;
                }
            }else{
                if(num > umkc2){
                    alert("超过最大库存！");$("#number"+i).val(0);num = 0;
                }
            }

            $("#pricetotal"+i).html(num*p);

            var n1 = 0;
            var n2 = 0;
            for(var i = 0;i<l;i++){
                n1 += Number($("#number"+i).val());
                n2 += Number($("#pricetotal"+i).html());
            }

            $("#numtotal").html(n1);

            $("#pricetotal").html(n2);
        
        if(Number($("#numtotal").html())>0){
            $("input[name='sendtime']").attr("disabled","disabled");
            $("#linktel").attr("disabled","disabled");
        }else{
            $("input[name='sendtime']").removeAttr("disabled");
            $("#linktel").removeAttr("disabled");
        }
        var _yh = ($("#yh_num").html()=="")?0:Number($("#yh_num").html());
        $("#retailpricetotal").html(Number($("#pricetotal").html())-_yh);
        $("input[name='retailpricetotal']").val(Number($("#pricetotal").html())-_yh);
        $("input[name='numtotal1']").val($("#numtotal").html());
        $("input[name='pricetotalold']").val($("#pricetotal").html());
    }
</script>
<% include footer %>