<!--页面逻辑-->
<% include header %>
<table class="tbpage">
    <tr>
      <td>
      		<button type="button" class="btn btn-default btn-xs" id="table_new" onclick="newDoc()" >新增</button>
			<table class="table table-hover" id="table_list">
    		<thead>
      			<tr>
        			<th>序号</th>
        			<th>日期</th>
        			<th>公司抬头</th>
        			<th>金额</th>
        			<th>操作</th>
      			</tr>
    		</thead>
    		<tbody>
    		<%for(var i in address){%>
      			<tr>
        			<td><%-address[i].id%></td>
        			<td><%=address[i].date%></td>
        			<td><%=address[i].head%></td>
        			<td><%=address[i].numTotal%></td>
        			<td>
        				<button type="button" class="btn btn-default btn-xs" onclick="editDoc(<%=address[i].id%>)">编辑</button>
        				<button type="button" class="btn btn-default btn-xs" onclick="delinfo(<%=address[i].id%>)">删除</button>
        			</td>
      			</tr>
    		<%}%>
    		</tbody>
    		</table>
    		<!--分页符-->
			<div style='width:100%;text-align:center'>
  				<button type='button' <%=isFirstPage?"disabled":""%> <%=isFirstPage?"":"onclick=toPage("+(page-1)+");"%> class='btn btn-default btn-xs'>上一页</button>
  				当前第<%=page%>页/共<%=totalpage%>页&nbsp;<%=total%>条数据
  				<button type='button' <%=isLastPage?"disabled":""%> <%=isLastPage?"":"onclick=toPage("+(page+1)+");"%> class='btn btn-default btn-xs'>下一页</button>
			</div>  
			<br/><br/>  	
      </td>
    </tr>
</table>
<!--table footer -->
	  </td>
    </tr>
  </table>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width:800px" >
      <div class="modal-content">
         <div class="modal-body">
            <table class="table table-bordered">
                <tr>
                    <td>日期</td>
                    <td>
                      <input type="text" name="date" id="date" style="cursor:pointer" readonly  class="Wdate" onfocus="WdatePicker({doubleCalendar:false,dateFmt:'yyyy-MM-dd'})"></input>
                    </td>
                    <td>数量</td>
                    <td><input type="text" class="input-sm form-control" id="num" onkeyup="value=value.replace(/[^\d]/g,'')"></input></td>
                </tr>   
                <tr>
                    <td>实际单价</td>
                    <td><input type="text" class="input-sm form-control" id="unitPrice" ></input></td>
                    <td>销售单价</td>
                    <td><input type="text" class="input-sm form-control" id="unitPrice_s" ></input></td>
                </tr>
                <tr>
                    <td>送餐地址</td>
                    <td><input type="text" class="input-sm form-control" id="sendaddress" ></input></td>
                    <td>联系人</td>
                    <td><input type="text" class="input-sm form-control" id="linkname" ></input></td>
                </tr>
                <tr>
                    <td>电话</td>
                    <td><input type="text" class="input-sm form-control" id="tel" ></input></td>
                    <td>金额</td>
                    <td><input type="text" class="input-sm form-control" id="numTotal" ></input></td>
                </tr>
                <tr>
                    <td>公司抬头</td>
                    <td><input type="text" class="input-sm form-control" id="head" ></input></td>
                    <td>发票号</td>
                    <td><input type="text" class="input-sm form-control" id="InvoiceNum" ></input></td>
                </tr>
                <tr>
                    <td>结算方式</td>
                    <td>
                       <select id="type" class="input-sm selectpicker">
                            <option value="-">请选择</option>
                            <option value="微信">微信</option>
                            <option value="支付宝">支付宝</option>
                            <option value="现金">现金</option>
                            <option value="公司转账">公司转账</option>
                            <option value="POS机">POS机</option>
                        </select>
                    </td>
                    <td>送餐类别</td>
                    <td>
                        <select id="sendtype" class="input-sm selectpicker">
                            <option value="-">请选择</option>
                            <option value="早餐">早餐</option>
                            <option value="午餐">午餐</option>
                            <option value="晚餐">晚餐</option>
                            <option value="临时午餐">临时午餐</option>
                            <option value="临时晚餐">临时晚餐</option>
                            <option value="自助午餐">自助午餐</option>
                            <option value="自助晚餐">自助晚餐</option>
                            <option value="酒会">酒会</option>
                            <option value="茶歇">茶歇</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>餐盒</td>
                    <td>
                        <select id="box" class="input-sm selectpicker">
                            <option value="-">请选择</option>
                            <%for(var i in box){%>
                              <option value="<%=box[i].name%>"><%=box[i].name%></option>
                            <%}%>
                        </select>
                    </td>
                    <td>送餐时间</td>
                    <td><input type="text" class="input-sm form-control" id="sendtime" ></input></td>
                </tr> 
             </table>
             <input type="hidden" id="docid" ></input>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" onclick="submitDoc();">
               提交
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->

<script type="text/javascript">
	function newDoc(){
		$("#date").val("");
		$("#num").val("");
		$("#unitPrice").val("");
		$("#sendtime").val("");
		$("#sendaddress").val("");
		$("#linkname").val("");
		$("#tel").val("");
		$("#numTotal").val("");
		$("#head").val("");
		$("#InvoiceNum").val("");
		$("#type").val("");
    $("#sendtype").val("");
		$("#docid").val("0");
    $("#box").val("");
    $("#unitPrice_s").val("");

		$('#addModal').modal('show');
	}

  function toPage(i){
    window.location = "/cms/outline?p="+i;
  }

	function editDoc(id){
        //根据id读取字段
        $.ajax({ type:"POST" , url: "/outline/getinfo", data:{id:id}, success: function(data){
               $("#date").val(data[0].date); 
               $("#num").val(data[0].num); 
               $("#unitPrice").val(data[0].unitPrice);
               $("#sendtime").val(data[0].sendtime);
               $("#sendaddress").val(data[0].sendaddress);
               $("#linkname").val(data[0].linkname);
               $("#tel").val(data[0].tel);
               $("#numTotal").val(data[0].numTotal);
               $("#head").val(data[0].head);
               $("#InvoiceNum").val(data[0].InvoiceNum);
               $("#type").val(data[0].type);
               $("#sendtype").val(data[0].sendtype);
               $("#box").val(data[0].box);
               $("#unitPrice_s").val(data[0].unitPrice_s);
               $("#docid").val(id);
        }});
        $('#addModal').modal('show');
    }

	function submitDoc(){
		if($("#docid").val()=="0"){
			//insert
			$.ajax({ type:"POST" , url: "/outline/insert", data:{
                date:$("#date").val(),
                num:$("#num").val(),
                unitPrice:$("#unitPrice").val(),
                sendtime:$("#sendtime").val(),
                sendaddress:$("#sendaddress").val(),
                linkname:$("#linkname").val(),
                tel:$("#tel").val(),
                numTotal:$("#numTotal").val(),
                head:$("#head").val(),
                InvoiceNum:$("#InvoiceNum").val(),
                type:$("#type").val(),
                sendtype:$("#sendtype").val(),
                box:$("#box").val(),
                unitPrice_s:$("#unitPrice_s").val()
                }, success: function(data){
                    if(data==200){
                        $('#addModal').modal('hide');
                        window.location.reload();
                    }
        	}});
		}else{
			//update
			$.ajax({ type:"POST" , url: "/outline/update", data:{
                date:$("#date").val(),
                num:$("#num").val(),
                unitPrice:$("#unitPrice").val(),
                sendtime:$("#sendtime").val(),
                sendaddress:$("#sendaddress").val(),
                linkname:$("#linkname").val(),
                tel:$("#tel").val(),
                numTotal:$("#numTotal").val(),
                head:$("#head").val(),
                InvoiceNum:$("#InvoiceNum").val(),
                type:$("#type").val(),
                sendtype:$("#sendtype").val(),
                box:$("#box").val(),
                unitPrice_s:$("#unitPrice_s").val(),
                docid:$("#docid").val()
                }, success: function(data){
                    if(data==200){
                        $('#addModal').modal('hide');
                        window.location.reload();
                    }
        	}});
		}
    }

    function delinfo(id){
    	$.confirm({
    		title: '请确认',
    		content: '是否确认删除？',
    		confirm: function(){
        		$.ajax({ type:"POST" , url: "/outline/delinfo", data:{id:id}, success: function(data){
        			if(data==200){
              			window.location.reload();     
        			}
      			}});	
    		}
		});
    }

<%if(info){%>
    $.alert({title: '提示信息',content: '<%=info%>'});
<%}%>
</script>
<% include footer %>