<!--页面逻辑-->
<% include header %>

<table class="tbpage">
    <tr>
      
      <td>
      	<div class="menufourth">
      		报表日期
      		<input type="text" name="bookingdate" id="bookingdate" style="cursor:pointer" readonly  class="Wdate" value="<%=bookingdate%>" onfocus="WdatePicker({doubleCalendar:false,dateFmt:'yyyy-MM-dd'})"></input>~
          <input type="text" name="bookingdate1" id="bookingdate1" style="cursor:pointer" readonly  class="Wdate" value="<%=bookingdate1%>" onfocus="WdatePicker({doubleCalendar:false,dateFmt:'yyyy-MM-dd'})"></input>
          公司
          <select id="company_name" class="input-sm selectpicker">
                            <option value="fedex2017">fedex2017</option>
                            <option value="机场">机场</option>
                      </select>
          菜名
          <input type="text" id="cname" value="<%=cname%>" ></input> 
          送餐类别
          <select id="sendtype" class="input-sm selectpicker">
              <option value="">请选择</option>
              <option value="早餐">早餐</option>
              <option value="午餐">午餐</option>
              <option value="晚餐">晚餐</option>
              <option value="夜宵">夜宵</option>
          </select>
      		<button type="button" class="btn btn-default btn-xs" onclick="changeDay()" >检索</button>
      		<button type="button" class="btn btn-default btn-xs" onclick="toExcel()" >导出日报表</button>
      	</div>
      	<div >
        <div class="menufourth">
          总数量:<%=num_total%>
          总金额:<%=price_total.toFixed(2)%>
        </div>
      	<table class="table table-hover" id="table_list" >
    		<thead>
      			<tr>
              <th>公司</th>
        			<th>菜名</th>
        			<th>送餐类别</th>
        			<th>订餐时间</th>
        			<th>数量</th>
        			<th>总价</th>
      			</tr>
    		</thead>
    		<tbody>
    		<%for(var i in record){%>
      			<tr>
              <td>fedex2017</td>
        			<td><%-record[i].name%></td>
        			<td><%-record[i].type%></td>
        			<td><%-record[i].date%></td>
        			<td><%-record[i].num%></td>
              <td><%-(Number(record[i].num)*Number(record[i].price))%></td>
      			</tr>
    		<%}%>
    		</tbody>
    		</table>
    		</div>
    		<!--分页符-->
			<div style='width:100%;text-align:center;margin-top:10px;display:none'>
  				<button type='button' <%=isFirstPage?"disabled":""%> <%=isFirstPage?"":"onclick=toPage("+(page-1)+");"%> class='btn btn-default btn-xs'>上一页</button>
  				当前第<%=page%>页/共<%=totalpage%>页&nbsp;<%=total%>条数据
  				<button type='button' <%=isLastPage?"disabled":""%> <%=isLastPage?"":"onclick=toPage("+(page+1)+");"%> class='btn btn-default btn-xs'>下一页</button>
			</div>  
      </td>
    </tr>
</table>
<!--table footer -->
	  </td>
    </tr>
  </table>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width:400px" >
      <div class="modal-content">
         <div class="modal-body">
            <table class="table table-bordered">
                <tr>
                    <td>套餐类别</td>
                    <td>
                      <select id="stype">
                        <option value = "A">A套餐</option>
                        <option value = "B">B套餐</option>
                        <option value = "C">C套餐</option>
                        <option value = "D">D套餐</option>
                      </select>
                    </td>
                </tr>
            
                <tr>
                    <td>数量</td>
                    <td>
                      <input type="text" class="input-sm form-control" id="adjnum" ></input>    
                    </td>
                </tr>
             </table>
             <input type="hidden" id="docid" ></input>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" onclick="submitDoc();">
               提交
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->

<script>
  <%if(sendtype !=''){%>
    $('#sendtype').val('<%=sendtype%>');
  <%}%>
	var w = window.screen.width;
	w = w - 330;
	$("#_viewl").css("width",w);

  function editDoc(id){
    $("#docid").val(id);
    $('#addModal').modal('show');
  }

	function toPage(i){
		var _d = $("#bookingdate").val();
    	window.location = "/cms/fedreport?p="+i+"&key="+_d.replace(/-/g,"")+"&bd="+_d;
  	}

  	function changeDay(){
  		var _d = $("#bookingdate").val();
      var _d1 = $("#bookingdate1").val();
      var cname = $("#cname").val();
      var sendtype = $("#sendtype").val();
  		window.location = "/cms/fedreport?p=1&key="+_d.replace(/-/g,"")+"&bd="+_d+"&cname="+cname+"&sendtype="+sendtype+"&bd1="+_d1;
  	}

  	function setinfo(id,k1,k2,k3,k4){
    	$.confirm({
    		title: '确认收款',
    		content: '订单号：'+k1+'<br/>客户名称：'+k2+'<br/>付款方式：'+k3+'<br/>应付金额：'+k4+'<br/>是否确认收款？',
    		confirm: function(){
        		$.ajax({ type:"POST" , url: "/fedreport/setinfo", data:{id:id}, success: function(data){
        			if(data==200){
              			window.location = window.location.href;     
        			}
      			}});	
    		}
		});
    }

    function toExcel(){
    	var _d = $("#bookingdate").val();
      var _d1 = $("#bookingdate1").val();
      var cname = $("#cname").val();
      var sendtype = $("#sendtype").val();
    	$.ajax({ type:"POST" , url: "/fedreport/toExcel", data:{id:_d,id1:_d1,cname:cname,sendtype:sendtype}, success: function(data){
    		window.open("/excelop/temp/"+data);
      }});
    }

    function GetDateStr(date,AddDayCount) { 
      var myDate = new Date(date); 
      myDate.setDate(myDate.getDate()+AddDayCount);//获取AddDayCount天后的日期 
      var y = myDate.getFullYear(); 
      var m = (((myDate.getMonth()+1)+"").length==1)?"0"+(myDate.getMonth()+1):(myDate.getMonth()+1);
      var d = (((myDate.getDate())+"").length==1)?"0"+(myDate.getDate()):(myDate.getDate());
      return y+"-"+m+"-"+d; 
    }

    function getleft(){
    	var _d = $("#bookingdate").val();
      var _tomorrow = GetDateStr(_d,1);
      var _yesterday = GetDateStr(_d,-1);
    	$.ajax({ type:"POST" , url: "/fedreport/getleft", data:{id:_d.replace(/-/g,""),_yesterday:_yesterday.replace(/-/g,"")}, success: function(data){
   		var _html = "<div style='padding-left:10px;margin-bottom:10px;'>日菜品明细统计表(按送达日期)</div>";
   		_html += "<table class='table table-hover' id='table_list'>";
        var n = data.name.length;
        var ydt = 0;var jdt = 0;var ttt = 0;var ydy = 0;
        _html += "<thead><tr><td></td><td colspan='3'>"+_d+"</td><td>"+_tomorrow+"</td></tr>";
        _html += "<tr><th>品名</th><th>提前预订数量</th><th>即点数量</th><th>总数</th><th>提前预订数量</th></tr></thead><tbody>";
        for(var i=0;i<n;i++){
            _html += "<tr>";
            _html += "<td>"+data.name[i]+"</td>";
            _html += "<td>"+data.ydy[i]+"</td>";
            _html += "<td>"+data.jd[i]+"</td>";
            _html += "<td>"+data.total[i]+"</td>";
            _html += "<td>"+data.yd[i]+"</td>";
            _html += "</tr>";
            ydy = ydy + Number(data.ydy[i]);
            ydt = ydt + Number(data.yd[i]);
            jdt = jdt + Number(data.jd[i]);
            ttt = ttt + Number(data.total[i]);
        }
        _html += "<tr>";
        _html += "<td>合计</td>";
        _html += "<td>"+ydy+"</td>";
        _html += "<td>"+jdt+"</td>";
        _html += "<td>"+ttt+"</td>";
        _html += "<td>"+ydt+"</td>";
        _html += "</tr>";
        _html += "</tbody></table>";
   		$("#d_left").html(_html);
    	}});
    }

    function getright(){
    	var _d = $("#bookingdate").val();
      var _tomorrow = GetDateStr(_d,1);
    	$.ajax({ type:"POST" , url: "/fedreport/getright", data:{id:_d,_tomorrow:_tomorrow}, success: function(data){
   		var _html = "<div style='padding-left:10px;margin-bottom:10px;'>日付款方式统计表(按送达日期)</div>";
   		_html += "<table class='table table-hover' id='table_list'>";
        var n = data.name.length;
        var ydt = 0;var ydtmt = 0;
        _html += "<thead><tr><td></td><td>"+_d+"</td><td>"+_tomorrow+"</td></tr>";
        _html += "<thead><tr><th>支付方式</th><th>金额</th><th>金额</th></tr></thead><tbody>"
        for(var i=0;i<n;i++){
            _html += "<tr>";
            _html += "<td>"+data.name[i]+"</td>";
            _html += "<td>"+data.yd[i]+"</td>";
            _html += "<td>"+data.ydtm[i]+"</td>";
            _html += "</tr>";
            ydt = ydt + Number(data.yd[i]);
            ydtmt = ydtmt + Number(data.ydtm[i]);
        }
        _html += "<tr>";
        _html += "<td>合计</td>";
        _html += "<td>"+ydt+"</td>";
        _html += "<td>"+ydtmt+"</td>";
        _html += "</tr>";
        _html += "</tbody></table>";
   		$("#d_right").html(_html);
    	}});
    }

    function getrightbottom(){
    	var _d = $("#bookingdate").val();
      var _d = $("#bookingdate").val();
    	$.ajax({ type:"POST" , url: "/fedreport/getrightbottom", data:{id:_d}, success: function(data){
   		var _html = "<div style='padding-left:10px;margin-bottom:10px;'>"+_d+"日收款统计信息</div>";
   		_html += "<table class='table table-hover' id='table_list'>";
        _html += "<thead><tr><th>应收金额</th><th>实收金额</th></tr></thead><tbody>"
            _html += "<tr>";
            _html += "<td>"+data.ys+"</td>";
            _html += "<td>"+data.ss+"</td>";
            _html += "</tr>";
        _html += "</tbody></table>";
   		$("#d_right_bottmo").html(_html);
    	}});
    }

    function submitDoc(){
      $.ajax({ type:"POST" , url: "/fedreport/adjust", data:{
                  stype:$("#stype").val(),
                  adjnum:$("#adjnum").val(),
                  docid:$("#docid").val()
                }, success: function(data){
                    if(data==200){
                        $('#addModal').modal('hide');
                        alert("操作成功！");
                        window.location.reload();
                }
          }});
    }

    getleft();
    getright();
    getrightbottom();

    <%if(info){%>
    	$.alert({title: '提示信息',content: '<%=info%>'});
	<%}%>
</script>
<% include footer %>