<!--业务逻辑-->
<%
	var j = 0;
	var total = "0,0,0,0,0,0,0,0,0".split(",");
%>
<!--页面逻辑-->
<% include header %>
<table class="tbpage">
    <tr>
      <td>
      	<div class="menufourth">
      		日期
      		<input type="text" name="bookingdate" id="bookingdate" style="cursor:pointer" readonly value="<%=bookingdate%>" class="Wdate" onfocus="WdatePicker({doubleCalendar:false,dateFmt:'yyyy-MM'})"></input>
      		<button type="button" class="btn btn-default btn-xs" onclick="search()" >检索</button>
      	</div>
        <p>&nbsp;&nbsp;&nbsp;总数量:<%=num_total%></p>
        <%if(finance[0]){%>
      	<table class="table table-hover" style="width:50%;" id="table_list" >
    		<tbody>
              <tr>
                <td>名称</td>
                <td>金额</td>
                <td>占比</td>
                <td>同比上月</td>
                <td>附件</td>
              </tr>
	      			<tr>
	      				<td>营业额</td>
                <td><%=price_total.toFixed(2)%></td>
                <td></td>
                <td></td>
                <td></td>
	      			</tr>
              <tr>
                <td>营业额3%发票税费</td>
                <td><%=(price_total*0.03).toFixed(2)%></td>
                <td>3%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>税金及附加</td>
                <td><%=finance[0].a%></td>
                <td><%=(finance[0].a*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.a){%>
                <a target='blank' href="/pic/<%=filelist.a%>"><%=filelist.a%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>办公室厨房租金</td>
                <td><%=finance[0].b%></td>
                <td><%=(finance[0].b*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.b){%>
                <a target='blank' href="/pic/<%=filelist.b%>"><%=filelist.b%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>应交税金3%</td>
                <td><%=finance[0].c%></td>
                <td><%=(finance[0].c*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.c){%>
                <a target='blank' href="/pic/<%=filelist.c%>"><%=filelist.c%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>银行手续费</td>
                <td><%=finance[0].d%></td>
                <td><%=(finance[0].d*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.d){%>
                <a target='blank' href="/pic/<%=filelist.d%>"><%=filelist.d%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>借款利息费</td>
                <td><%=finance[0].e%></td>
                <td><%=(finance[0].e*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.e){%>
                <a target='blank' href="/pic/<%=filelist.e%>"><%=filelist.e%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>行政人员工资</td>
                <td><%=finance[0].f%></td>
                <td><%=(finance[0].f*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.f){%>
                <a target='blank' href="/pic/<%=filelist.f%>"><%=filelist.f%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>厨房人员工资</td>
                <td><%=finance[0].g%></td>
                <td><%=(finance[0].g*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.g){%>
                <a target='blank' href="/pic/<%=filelist.g%>"><%=filelist.g%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>五险一金（企业部分）</td>
                <td><%=finance[0].h%></td>
                <td><%=(finance[0].h*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.h){%>
                <a target='blank' href="/pic/<%=filelist.h%>"><%=filelist.h%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>五险一金（个人部分）</td>
                <td><%=finance[0].i%></td>
                <td><%=(finance[0].i*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.i){%>
                <a target='blank' href="/pic/<%=filelist.i%>"><%=filelist.i%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>中央厨房水费和电费</td>
                <td><%=finance[0].j%></td>
                <td><%=(finance[0].j*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.j){%>
                <a target='blank' href="/pic/<%=filelist.j%>"><%=filelist.j%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>中央厨房煤气费</td>
                <td><%=finance[0].k%></td>
                <td><%=(finance[0].k*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.k){%>
                <a target='blank' href="/pic/<%=filelist.k%>"><%=filelist.k%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>额外运输费用</td>
                <td><%=finance[0].l%></td>
                <td><%=(finance[0].l*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.l){%>
                <a target='blank' href="/pic/<%=filelist.l%>"><%=filelist.l%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>法律及专业费用</td>
                <td><%=finance[0].m%></td>
                <td><%=(finance[0].m*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.m){%>
                <a target='blank' href="/pic/<%=filelist.m%>"><%=filelist.m%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>网络服务费用</td>
                <td><%=finance[0].n%></td>
                <td><%=(finance[0].n*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td>
                <%if(filelist.e){%>
                <a target='blank' href="/pic/<%=filelist.n%>"><%=filelist.n%></a>
                <%}%>
                </td>
              </tr>
              <tr>
                <td>车贷还款费用</td>
                <td><%=finance[0].o%></td>
                <td><%=(finance[0].o*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>办公费用</td>
                <td><%=finance[0].p%></td>
                <td><%=(finance[0].p*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>汽油费和停车费</td>
                <td><%=finance[0].q%></td>
                <td><%=(finance[0].q*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>电话网络费用</td>
                <td><%=finance[0].r%></td>
                <td><%=(finance[0].r*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>快递费用</td>
                <td><%=finance[0].s%></td>
                <td><%=(finance[0].s*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>保洁费用（垃圾清运费）</td>
                <td><%=finance[0].t%></td>
                <td><%=(finance[0].t*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>洗涤费用</td>
                <td><%=finance[0].u%></td>
                <td><%=(finance[0].u*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>维护及维修费用</td>
                <td><%=finance[0].v%></td>
                <td><%=(finance[0].v*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>临时工费用</td>
                <td><%=finance[0].w%></td>
                <td><%=(finance[0].w*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>员工福利费用</td>
                <td><%=finance[0].x%></td>
                <td><%=(finance[0].x*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>新增固定资产</td>
                <td><%=finance[0].y%></td>
                <td><%=(finance[0].y*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>广告费</td>
                <td><%=finance[0].z%></td>
                <td><%=(finance[0].z*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>业务招待费用</td>
                <td><%=finance[0].aa%></td>
                <td><%=(finance[0].aa*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>管理费（佣金）</td>
                <td><%=finance[0].ab%></td>
                <td><%=(finance[0].ab*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>食品安全保险费</td>
                <td><%=finance[0].ac%></td>
                <td><%=(finance[0].ac*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>杂项费用</td>
                <td><%=finance[0].ad%></td>
                <td><%=(finance[0].ad*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>欠薪保障金</td>
                <td><%=finance[0].ae%></td>
                <td><%=(finance[0].ae*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>招聘费</td>
                <td><%=finance[0].af%></td>
                <td><%=(finance[0].af*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>食品成本</td>
                <td><%=finance[0].ag%></td>
                <td><%=(finance[0].ag*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>一次性餐盒费用</td>
                <td><%=boxTotal%></td>
                <td><%=(boxTotal*100/price_total).toFixed(2)%>%</td>
                <td></td>
                <td></td>
              </tr>
    		</tbody>
    	</table>
      <%}else{%>
        &nbsp;&nbsp;&nbsp;无数据
      <%}%>

      </td>
    </tr>
</table>
<!--table footer -->
	  </td>
    </tr>
  </table>
<script type="text/javascript">
  <%if(sendtype !=''){%>
    $('#sendtype').val('<%=sendtype%>');
  <%}%>
	function search(){
		var _m = $("#bookingdate").val();
  	window.location = "/cms/finance_total?p=1&bd="+_m;
	}

  function toExcel(){
      var _d = $("#bookingdate").val();
      var cname = $("#cname").val();
      var sendtype = $("#sendtype").val();
      var _m1 = $("#bookingdate1").val();
      var _m2 = $("#bookingdate2").val();
      $.ajax({ type:"POST" , url: "/finance_d/toExcelm", data:{id:_d,cname:cname,sendtype:sendtype,_m1:_m1,_m2:_m2}, success: function(data){
        window.open("/excelop/temp/"+data);
      }});
  }

  function getleft(){
      var _d = $("#bookingdate").val();
      $.ajax({ type:"POST" , url: "/finance_d/getleft_m", data:{id:_d.replace(/-/g,"")}, success: function(data){
      var _html = "<div style='padding-left:10px;margin-bottom:10px;'>"+_d+"月菜品明细统计表</div>";
      _html += "<table class='table table-hover' id='table_list'>";
        var n = data.name.length;
        var ydt = 0;var jdt = 0;var ttt = 0;
        _html += "<thead><tr><th>品名</th><th>总数</th></tr></thead><tbody>"
        for(var i=0;i<n;i++){
            _html += "<tr>";
            _html += "<td>"+data.name[i]+"</td>";
            _html += "<td>"+data.total[i]+"</td>";
            _html += "</tr>";
            ttt = ttt + Number(data.total[i]);
        }
        _html += "<tr>";
        _html += "<td>合计</td>";
        _html += "<td>"+ttt+"</td>";
        _html += "</tr>";
        _html += "</tbody></table>";
      $("#d_left").html(_html);
      }});
    }

  getleft();
</script>
<% include footer %>