<!--页面逻辑-->
<% include header %>
<table class="tbpage">
    <tr>
      <td class="tbleft_gury"><% include finance-left-nav %></td>
      <td>
      	<div class="menufourth">
      		报表日期
      		<input type="text" name="bookingdate" id="bookingdate" style="cursor:pointer" readonly  class="Wdate" value="<%=bookingdate%>" onfocus="WdatePicker({doubleCalendar:false,dateFmt:'yyyy-MM-dd'})"></input>
      		<button type="button" class="btn btn-default btn-xs" onclick="changeDay()" >检索</button>
      		<button type="button" class="btn btn-default btn-xs" onclick="toExcel()" >导出日报表</button>
      	</div>
      	<div id="_viewl">
      	<table class="table table-hover" id="table_list_width" >
    		<thead>
      			<tr>
        			<th>序号</th>
        			<th>来源</th>
        			<th>订单号</th>
        			<th>客户</th>
        			<th>联系方式</th>
        			<th>数量</th>
              <th>明细</th>
        			<th>售价</th>
        			<th>实收金额</th>
        			<th>优惠类型</th>
        			<th>付款状态</th>
        			<th>订单类型</th>
        			<th>订单状态</th>
        			<th>配送地址</th>
        			<th>抬头</th>
        			<th>操作</th>
      			</tr>
    		</thead>
    		<tbody>
    		<%for(var i in record){%>
      			<tr>
        			<td><%-record[i].id%></td>
        			<td><%-record[i].source%></td>
        			<td><%-record[i].bookingno%></td>
        			<td><%-record[i].linkname%></td>
        			<td><%-record[i].linktel%></td>
        			<td><%-record[i].numtotal%></td>
              <td><%-record[i].detail%></td>
        			<td><%-record[i].pricetotalold%></td>
        			<td><%-record[i].pricetotal%></td>
        			<td><%-(record[i].pricetotal!=record[i].pricetotalold)?'首单优惠':''%></td>
        			<td><%-record[i].paytype%></td>
        			<td><%-record[i].type%></td>
        			<td><%-record[i].status%></td>
        			<td><%-record[i].addressname+record[i].addressdetail%></td>
        			<td><%-record[i].invoicetitle%></td>
        			<td>
        			<%if(record[i].makeout == "未确认" && record[i].paytype =="货到付款"){%>
        			<button type="button" class="btn btn-default btn-xs" onclick="setinfo(<%=record[i].id%>,'<%=record[i].bookingno%>','<%=record[i].linkname%>','<%=record[i].paytype%>','<%=record[i].pricetotal%>')" >确认收款</button>
        			<%}%>
        			</td>
      			</tr>
    		<%}%>
    		</tbody>
    		</table>
    		</div>
    		<!--分页符-->
			<div style='width:100%;text-align:center;margin-top:10px;'>
  				<button type='button' <%=isFirstPage?"disabled":""%> <%=isFirstPage?"":"onclick=toPage("+(page-1)+");"%> class='btn btn-default btn-xs'>上一页</button>
  				当前第<%=page%>页/共<%=totalpage%>页&nbsp;<%=total%>条数据
  				<button type='button' <%=isLastPage?"disabled":""%> <%=isLastPage?"":"onclick=toPage("+(page+1)+");"%> class='btn btn-default btn-xs'>下一页</button>
			</div>  
			<br/><br/> 
			<table style="margin-left:10px;">
				<tr>
					<td>
						<div id="d_left">统计内容加载中</div>
					</td>
					<td>
						<div id="d_right" style="padding-left:30px;">统计内容加载中</div>
					</td>
					<td>
						<div id="d_right_bottmo" style="padding-left:30px;">统计内容加载中</div>
					</td>
				</tr>
			</table>
      </td>
    </tr>
</table>
<!--table footer -->
	  </td>
    </tr>
  </table>
<script>
	var w = window.screen.width;
	w = w - 330;
	$("#_viewl").css("width",w);

	function toPage(i){
		var _d = $("#bookingdate").val();
    	window.location = "/cms/finance_d?p="+i+"&key="+_d.replace(/-/g,"")+"&bd="+_d;
  	}

  	function changeDay(){
  		var _d = $("#bookingdate").val();
  		window.location = "/cms/finance_d?p=1&key="+_d.replace(/-/g,"")+"&bd="+_d;
  	}

  	function setinfo(id,k1,k2,k3,k4){
    	$.confirm({
    		title: '确认收款',
    		content: '订单号：'+k1+'<br/>客户名称：'+k2+'<br/>付款方式：'+k3+'<br/>应付金额：'+k4+'<br/>是否确认收款？',
    		confirm: function(){
        		$.ajax({ type:"POST" , url: "/finance_d/setinfo", data:{id:id}, success: function(data){
        			if(data==200){
              			window.location = window.location.href;     
        			}
      			}});	
    		}
		});
    }

    function toExcel(){
    	var _d = $("#bookingdate").val();
    	$.ajax({ type:"POST" , url: "/finance_d/toExcel", data:{id:_d.replace(/-/g,"")}, success: function(data){
    		window.open("/excelop/temp/"+data);
      	}});
    }

    function GetDateStr(date,AddDayCount) { 
      var myDate = new Date(date); 
      myDate.setDate(myDate.getDate()+AddDayCount);//获取AddDayCount天后的日期 
      var y = myDate.getFullYear(); 
      var m = (((myDate.getMonth()+1)+"").length==1)?"0"+(myDate.getMonth()+1):(myDate.getMonth()+1);
      var d = (((myDate.getDate())+"").length==1)?"0"+(myDate.getDate()):(myDate.getDate());
      return y+"-"+m+"-"+d; 
    }

    function getleft(){
    	var _d = $("#bookingdate").val();
      var _tomorrow = GetDateStr(_d,1);
      var _yesterday = GetDateStr(_d,-1);
    	$.ajax({ type:"POST" , url: "/finance_d/getleft", data:{id:_d.replace(/-/g,""),_yesterday:_yesterday.replace(/-/g,"")}, success: function(data){
   		var _html = "<div style='padding-left:10px;margin-bottom:10px;'>日菜品明细统计表(按送达日期)</div>";
   		_html += "<table class='table table-hover' id='table_list'>";
        var n = data.name.length;
        var ydt = 0;var jdt = 0;var ttt = 0;var ydy = 0;
        _html += "<thead><tr><td></td><td colspan='3'>"+_d+"</td><td>"+_tomorrow+"</td></tr>";
        _html += "<tr><th>品名</th><th>提前预订数量</th><th>即点数量</th><th>总数</th><th>提前预订数量</th></tr></thead><tbody>";
        for(var i=0;i<n;i++){
            _html += "<tr>";
            _html += "<td>"+data.name[i]+"</td>";
            _html += "<td>"+data.ydy[i]+"</td>";
            _html += "<td>"+data.jd[i]+"</td>";
            _html += "<td>"+data.total[i]+"</td>";
            _html += "<td>"+data.yd[i]+"</td>";
            _html += "</tr>";
            ydy = ydy + Number(data.ydy[i]);
            ydt = ydt + Number(data.yd[i]);
            jdt = jdt + Number(data.jd[i]);
            ttt = ttt + Number(data.total[i]);
        }
        _html += "<tr>";
        _html += "<td>合计</td>";
        _html += "<td>"+ydy+"</td>";
        _html += "<td>"+jdt+"</td>";
        _html += "<td>"+ttt+"</td>";
        _html += "<td>"+ydt+"</td>";
        _html += "</tr>";
        _html += "</tbody></table>";
   		$("#d_left").html(_html);
    	}});
    }

    function getright(){
    	var _d = $("#bookingdate").val();
      var _tomorrow = GetDateStr(_d,1);
    	$.ajax({ type:"POST" , url: "/finance_d/getright", data:{id:_d,_tomorrow:_tomorrow}, success: function(data){
   		var _html = "<div style='padding-left:10px;margin-bottom:10px;'>日付款方式统计表(按送达日期)</div>";
   		_html += "<table class='table table-hover' id='table_list'>";
        var n = data.name.length;
        var ydt = 0;var ydtmt = 0;
        _html += "<thead><tr><td></td><td>"+_d+"</td><td>"+_tomorrow+"</td></tr>";
        _html += "<thead><tr><th>支付方式</th><th>金额</th><th>金额</th></tr></thead><tbody>"
        for(var i=0;i<n;i++){
            _html += "<tr>";
            _html += "<td>"+data.name[i]+"</td>";
            _html += "<td>"+data.yd[i]+"</td>";
            _html += "<td>"+data.ydtm[i]+"</td>";
            _html += "</tr>";
            ydt = ydt + Number(data.yd[i]);
            ydtmt = ydtmt + Number(data.ydtm[i]);
        }
        _html += "<tr>";
        _html += "<td>合计</td>";
        _html += "<td>"+ydt+"</td>";
        _html += "<td>"+ydtmt+"</td>";
        _html += "</tr>";
        _html += "</tbody></table>";
   		$("#d_right").html(_html);
    	}});
    }

    function getrightbottom(){
    	var _d = $("#bookingdate").val();
      var _d = $("#bookingdate").val();
    	$.ajax({ type:"POST" , url: "/finance_d/getrightbottom", data:{id:_d}, success: function(data){
   		var _html = "<div style='padding-left:10px;margin-bottom:10px;'>"+_d+"日收款统计信息</div>";
   		_html += "<table class='table table-hover' id='table_list'>";
        _html += "<thead><tr><th>应收金额</th><th>实收金额</th></tr></thead><tbody>"
            _html += "<tr>";
            _html += "<td>"+data.ys+"</td>";
            _html += "<td>"+data.ss+"</td>";
            _html += "</tr>";
        _html += "</tbody></table>";
   		$("#d_right_bottmo").html(_html);
    	}});
    }

    getleft();
    getright();
    getrightbottom();

    <%if(info){%>
    	$.alert({title: '提示信息',content: '<%=info%>'});
	<%}%>
</script>
<% include footer %>