<!--业务逻辑-->
<%
	var j = 0;
	var total = "0,0,0,0,0,0,0,0,0".split(",");
%>
<!--页面逻辑-->
<% include header %>
<table class="tbpage">
    <tr>
      <td>
      	<div class="menufourth">
      		报表日期
      		<input type="text" name="bookingdate" id="bookingdate" style="cursor:pointer" readonly value="<%=bookingdate%>" class="Wdate" onfocus="WdatePicker({doubleCalendar:false,dateFmt:'yyyy-MM'})"></input>
          公司名称
          <input type="text" id="cname" value="<%=cname%>" ></input> 
          送餐类别
          <select id="sendtype" class="input-sm selectpicker">
              <option value="">请选择</option>
              <option value="早餐">早餐</option>
              <option value="午餐">午餐</option>
              <option value="晚餐">晚餐</option>
              <option value="临时午餐">临时午餐</option>
              <option value="临时晚餐">临时晚餐</option>
              <option value="自助午餐">自助午餐</option>
              <option value="自助晚餐">自助晚餐</option>
              <option value="酒会">酒会</option>
              <option value="茶歇">茶歇</option>
          </select>
          日期范围
          <input type="text" name="bookingdate1" id="bookingdate1" style="cursor:pointer" readonly class="Wdate" onfocus="WdatePicker({doubleCalendar:false,dateFmt:'yyyy-MM-dd'})" value="<%=bookingdate1%>"></input>
          <input type="text" name="bookingdate2" id="bookingdate2" style="cursor:pointer" readonly class="Wdate" onfocus="WdatePicker({doubleCalendar:false,dateFmt:'yyyy-MM-dd'})" value="<%=bookingdate2%>"></input>
      		<button type="button" class="btn btn-default btn-xs" onclick="search()" >检索</button>
      		<button type="button" class="btn btn-default btn-xs" onclick="toExcel()" >导出月报表</button>
      	</div>
        <div class="menufourth">
          总数量:<%=num_total%>
          总金额:<%=price_total%>
        </div>
      	<table class="table table-hover" id="table_list" >
    		<thead>
      			<tr>
      				<th>送餐日期</th>
        			<th>公司</th>
        			<th>送餐类别</th>
        			<th>订餐时间</th>
        			<th>A套餐</th>
              <th>A调整</th>
              <th>B套餐</th>
              <th>B调整</th>
              <th>C套餐</th>
              <th>C调整</th>
              <th>D套餐</th>
              <th>D调整</th>
        			<th>总数量</th>
        			<th>总价</th>
      			</tr>
    		</thead>
    		<tbody>
    			<%for(var i in record){%>
	      			<tr>
	      				<td><%-record[i].date1%></td>
	        			<td><%-record[i].cname%></td>
	        			<td><%-record[i].sendtype%></td>
	        			<td><%-record[i].date2%></td>
	        			<td><%-record[i].numA%></td>
              <td><%-record[i].adjustA%></td>
              <td><%-record[i].numB%></td>
              <td><%-record[i].adjustB%></td>
              <td><%-record[i].numC%></td>
              <td><%-record[i].adjustC%></td>
              <td><%-record[i].numD%></td>
              <td><%-record[i].adjustD%></td>
	        			<td><%-record[i].numTotal%></td>
	        			<td><%-record[i].priceTotal%></td>
	      			</tr>
	    		<%}%>
          <%for(var i in record1){%>
              <tr>
                <td><%-record1[i].date%></td>
                <td><%-record1[i].head%></td>
                <td><%-record1[i].sendtype%></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%-record1[i].num%></td>
                <td><%-record1[i].numTotal%></td>
              </tr>
          <%}%>
          <%for(var i in record2){%>
              <tr>
                <td><%-record2[i].date%></td>
                <td><%-record2[i].name%></td>
                <td><%-record2[i].sendtype%></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%-record2[i].num%></td>
                <td><%-record2[i].priceTotal%></td>
              </tr>
          <%}%>
          <%for(var i in record3){%>
              <tr>
                <td><%-record3[i].date%></td>
                <td><%-record3[i].name%></td>
                <td><%-record3[i].sendtype%></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>-</td>
                <td><%-record3[i].priceTotal%></td>
              </tr>
          <%}%>
    		</tbody>
    	</table>

      </td>
    </tr>
</table>
<!--table footer -->
	  </td>
    </tr>
  </table>
<script type="text/javascript">
  <%if(sendtype !=''){%>
    $('#sendtype').val('<%=sendtype%>');
  <%}%>
	function search(){
		var _m = $("#bookingdate").val();
    var cname = $("#cname").val();
    var sendtype = $("#sendtype").val();
    var _m1 = $("#bookingdate1").val();
    var _m2 = $("#bookingdate2").val();
  	window.location = "/cms/finance_m?p=1&key="+_m.replace(/-/g,"")+"&bd="+_m+"&cname="+cname+"&sendtype="+sendtype+"&d1="+_m1+"&d2="+_m2;
	}

  function toExcel(){
      var _d = $("#bookingdate").val();
      var cname = $("#cname").val();
      var sendtype = $("#sendtype").val();
      var _m1 = $("#bookingdate1").val();
      var _m2 = $("#bookingdate2").val();
      $.ajax({ type:"POST" , url: "/finance_d/toExcelm", data:{id:_d,cname:cname,sendtype:sendtype,_m1:_m1,_m2:_m2}, success: function(data){
        window.open("/excelop/temp/"+data);
      }});
  }

  function getleft(){
      var _d = $("#bookingdate").val();
      $.ajax({ type:"POST" , url: "/finance_d/getleft_m", data:{id:_d.replace(/-/g,"")}, success: function(data){
      var _html = "<div style='padding-left:10px;margin-bottom:10px;'>"+_d+"月菜品明细统计表</div>";
      _html += "<table class='table table-hover' id='table_list'>";
        var n = data.name.length;
        var ydt = 0;var jdt = 0;var ttt = 0;
        _html += "<thead><tr><th>品名</th><th>总数</th></tr></thead><tbody>"
        for(var i=0;i<n;i++){
            _html += "<tr>";
            _html += "<td>"+data.name[i]+"</td>";
            _html += "<td>"+data.total[i]+"</td>";
            _html += "</tr>";
            ttt = ttt + Number(data.total[i]);
        }
        _html += "<tr>";
        _html += "<td>合计</td>";
        _html += "<td>"+ttt+"</td>";
        _html += "</tr>";
        _html += "</tbody></table>";
      $("#d_left").html(_html);
      }});
    }

  getleft();
</script>
<% include footer %>