<!--页面逻辑-->
<% include header1 %>
<header data-am-widget="header" class="am-header am-header-default am-no-layout am-header-fixed">
    <h1 class="am-header-title">
        <a href="#title-link">我的订单</a>
    </h1>
</header>
<table class="am-table am-table-bordered">
    <tr>
        <td>订单号</td>
        <td><%=obj1[0].bookingno%></td>
    </tr>
    <tr>
        <td>送餐日期</td>
        <td><%=obj1[0].date%></td>
    </tr>
    <tr>
        <td>送餐类别</td>
        <td><%=obj1[0].type%></td>
    </tr>
    <tr>
        <td>订单状态</td>
        <td><%=obj1[0].state%></td>
    </tr>
    <tr>
        <td>下单日期</td>
        <td><%=obj1[0].createAt%></td>
    </tr>
    <tr>
        <td>总金额</td>
        <td><%=obj1[0].numTotal%></td>
    </tr>
</table>
<table class="am-table am-table-bordered">
    <tr>
        <td>菜名</td>
        <td>单价</td>
        <td>数量</td>
        <td>合计</td>
    </tr>
<%for(var i in obj2){%>
    <tr>
        <td><%=obj2[i].name%></td>
        <td><%=obj2[i].price%></td>
        <td><%=obj2[i].num%></td>
        <td><%=Number(obj2[i].price)*Number(obj2[i].num)%></td>
    </tr>
<%}%>
</table>
<%if(obj1[0].state == '未付款'){%>
    <fieldset>
        <div class="am-form-group">
            <button type="button" class="am-btn am-btn-success" onclick="pay()">支付</button>
            <button type="button" class="am-btn am-btn-default" onclick="cancel()">取消订单</button>
        </div>
    </fieldset>
<%}%>
<%if(obj1[0].state == '已支付'){%>
    <fieldset>
        <div class="am-form-group">
            <span style="color:#ff0000">支付已完成，请在餐厅出示下方二维码取餐<br/></span>
        </div>
        <div id="code"></div>
        <br/>
        <div class="am-form-group">
            <button type="button" class="am-btn am-btn-default" onclick="cancelpay()">取消订单</button>
        </div>
    </fieldset>
<%}%>
<!-- Footer -->
        <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
            <ul class="am-navbar-nav am-cf am-avg-sm-4">
                <li class="am-active">
                    <a href="/fedex/booking">
                        <span class="am-icon-bitbucket"></span>
                        <span class="am-navbar-label">开始订餐</span>
                    </a>
                </li>
                <li>
                    <a href="/fedex/option">
                        <span class="am-icon-user"></span>
                        <span class="am-navbar-label">我的订单</span>
                    </a>
                </li>
            </ul>
        </div>
<input type="hidden" id="userid" />
<script type="text/javascript">
  //check login state
  var sessionID = window.localStorage.getItem("sessionID");
  if(!sessionID){
    window.location = '/fedex/login';
  }
  $('#userid').val(sessionID);

  $("#code").qrcode({
        render: "table", //table方式
        width: 150, //宽度
        height: 150, //高度
        text: "http://www.4000191177.com/fedex/get?id=<%=obj1[0].bookingno%>" //任意内容
  });

  function cancel(){
    $.ajax({ type:"POST" , url: "/role/cancelFbooking", data:{
        id:'<%=obj1[0].bookingno%>'
        }, success: function(data){
            if(data == '200'){
                alert('取消成功！');
                window.location = '/fedex/option';
            }
        }
    });
  }

  function cancelpay(){
    /*如果是午餐，前一天23点之前可以取消*/
    var myDate = new Date();
    var y = myDate.getFullYear(); 
    var m = (((myDate.getMonth()+1)+"").length==1)?"0"+(myDate.getMonth()+1):(myDate.getMonth()+1);
    var d = (((myDate.getDate())+"").length==1)?"0"+(myDate.getDate()):(myDate.getDate());
    var dym = y+'-'+m+'-'+d;
    if("<%=obj1[0].type%>" == "午餐"){
        if((dym < "<%=obj1[0].date%>") && (myDate.getHours() < 23)){
            $.ajax({ type:"POST" , url: "/role/cancelFPbooking", data:{
                id:'<%=obj1[0].bookingno%>'
                }, success: function(data){
                    if(data == '200'){
                        alert('取消成功！');
                        window.location = '/fedex/option';
                    }
                }
            });
        }else{
            alert('已过了取消时间，不能取消');
        }
    }
  }

  function pay(){
    window.location = '/jsapipay?bookingNo=' + '<%=obj1[0].bookingno%>' + '&total_fee=' + ('<%=obj1[0].numTotal%>' * 100);
  }
</script>
<% include footer %>